<template>
  <nav class="panel">
    <div class="panel-block p-6" v-if="loading">
      <progress class="progress is-medium is-info"></progress>
    </div>
    <TeamMakerItem v-for="element in listOfElements"
      :key="element.id"
      :elementContent="element"
      :endPoint="endPoint"
      v-on:refresh="refresh">
    </TeamMakerItem>
    <div class="panel-block is-active is-paddingless" v-if="pagination">
      <div class="column is-centered">
        <Pagination
          :currentPage="currentPage"
          :maxPage="maxPage"
          v-on:newpage="setPage"/>
      </div>
    </div>
  </nav>
</template>

<script>
import Pagination from "@/components/API/Pagination.vue";
import TeamMakerItem from "@/components/API/Items/TeamMakerItem.vue";
import ListMixin from "@/components/API/Lists/ListMixin";
import APIElementMixin from "@/components/API/APIElementMixin";

export default {
  name: "TeamMakerList",
  mixins: [ListMixin, APIElementMixin],
  components: {
    Pagination,
    TeamMakerItem
  },
  data() {
    return {
      page: 1,
      nbOfElement: 1,
    };
  },
  methods: {
    setPage() {
      this.page = Math.max(1, Math.min(this.page, this.maxPage));
    },
  },
  computed: {
    
    maxPage: () => {
      return Math.ceil(this.nbOfElement / this.$store.state.api.elemByPage);
    },

    offset: () => {
      return (this.page - 1) * this.$store.state.api.elemByPage;
    },
    
  }
};
</script>
