<template>
  <nav class="panel">
    <div class="panel-block is-active is-paddingless">
      <div class="column">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <TeamSort/>
            </div>
          </div>
          <div class="level-right" v-if="pagination">
            <div class="level-item">
              <SortParameter
                v-on:refresh="getElementslist">
              </SortParameter>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-block is-active p-6" v-if="loading">
      <progress class="progress is-medium is-info"></progress>
    </div>
    <TeamItem v-for="element in listOfElements"
      :key="element.id"
      :elementContent="element"
      :endPoint="endPoint"
      v-on:refresh="refresh">
    </TeamItem>
    <div class="panel-block is-active is-paddingless" v-if="pagination">
      <div class="column is-centered">
        <Pagination
          :currentPage="currentPage"
          :maxPage="maxPage"
          v-on:newpage="setPage"/>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
import Pagination from "@/components/API/Pagination.vue";
import SortParameter from "@/components/API/SortParameter.vue";
import TeamSort from "@/components/API/Sorts/TeamSort.vue";
import TeamItem from "@/components/API/Items/TeamItem.vue";
import ListMixin from "@/components/API/Lists/ListMixin";
import APIElementMixin from "@/components/API/APIElementMixin";

export default {
  name: "TeamList",
  mixins: [ListMixin, APIElementMixin],
  components: {
    Pagination,
    SortParameter,
    TeamSort,
    TeamItem
  },
  methods: {
    ...mapMutations("api/teamsList", {
      setNbOfElement: "setNbOfElement",
      setSortIndex: "newSortIndex",
      setSortOder: "newSortOrder"
    }),
    ...mapActions("api/teamsList", {
      setPage: "setPage"
    })
  },
  computed: {
    ...mapGetters("api/teamsList", {
      currentPage: "currentPage",
      maxPage: "maxPage",
      order: "order",
      offset: "offset"
    })
  }
};
</script>
