@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

$orangeMDC: #ec8923;
$orangeMDC-invert: findColorInvert($orangeMDC);
$blueMDC: #1562ac;
$blueMDC-invert: findColorInvert($blueMDC);
$blue2MDC: #2988e0;
$blue2MDC-invert: findColorInvert($blue2MDC);
$yellow1MDC: #f0bd00;
$yellow1MDC-invert: findColorInvert($yellow1MDC);
$yellow2MDC: #eda900;
$yellow2MDC-invert: findColorInvert($yellow2MDC);
$yellow3MDC: #ea8c00;
$yellow3MDC-invert: findColorInvert($yellow3MDC);

$link: $blueMDC;
$link-invert: $blueMDC-invert;
$info: $blue2MDC;
$info-invert: $blue2MDC-invert;
$primary: $orangeMDC;
$primary-invert: $orangeMDC-invert;
$warning: $yellow1MDC;
$warning-invert: $yellow1MDC-invert;

@import "../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert),
  "orangeMDC": ($orangeMDC, $orangeMDC-invert),
  "blueMDC": ($blueMDC, $blueMDC-invert),
  "yellow1MDC": ($yellow1MDC, $yellow1MDC-invert),
  "yellow2MDC": ($yellow2MDC, $yellow2MDC-invert),
  "yellow3MDC": ($yellow3MDC, $yellow3MDC-invert)
);
$colors: map-merge($colors, $addColors);

// Bulma Import
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "../node_modules/bulma-extensions/bulma-switch/src/sass/index.sass";
@import "../node_modules/bulma-extensions/bulma-divider/src/sass/index.sass";
@import "../node_modules/bulma-extensions/bulma-calendar/src/sass/index.sass";
@import "../node_modules/bulma-extensions/bulma-calendar/src/sass/timepicker.sass";
@import "../node_modules/bulma-extensions/bulma-badge/src/sass/index.sass";
@import "../node_modules/bulma-extensions/bulma-timeline/src/sass/index.sass";
@import "../node_modules/bulma-extensions/bulma-accordion/src/sass/index.sass";


