<template>
  <div class="constainer p-3">
    <Header title="Historique" subtitle="Précedents process lancés"/>
    <TeamMakerList endPoint="api/teammakers/"
      :pagination="false"
      :refreshCounter="refreshCounter"
      v-on:refresh="refresh()"
    />
  </div>
</template>

<script>
import APIPageMixin from "@/views/APIPageMixin";
import Header from "@/components/API/Header.vue";
import TeamMakerList from "@/components/API/Lists/TeamMakerList.vue";

export default {
  name: "TeamMakerHistoric",
  mixins: [APIPageMixin],
  components: {
    Header,
    TeamMakerList
  },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      pageName: "historic"
    };
  }
};
</script>
