<template>
  <div class="container p-3">
    <Header title="Répartition" :subtitle="timestamp"/>
    <div class="panel-block is-active p-6" v-if="!dataLoaded">
      <progress class="progress is-medium is-info"></progress>
    </div>
    <div v-else>
      <div class="is-divider"></div>
      <div>
        <h2 class="title is-4">Paramètres</h2>
        <p>
          Nombre de Caussenards :  <strong>{{ caussenardsMap.size }} </strong>
          (<span v-for="c in caussenardsList" :key="c.id">
            {{c.firstname + " " + c.lastname}}, 
          </span>)
        </p>
        <p>
          Nombre de d'équipes :  <strong> <span v-for="c in params.nbOfteamsList" :key="c"> {{c}}, </span> </strong>
        </p>
      </div>
      <div class="is-divider"></div>
      <div>
        <h2 class="title is-4">Résultats</h2>
        <section class="accordions">
          <article class="accordion is-active"
            v-for="res in params.nbOfteamsList" :key="res">
            <div class="accordion-header">
              <p> {{ res }} équipes </p>
              <button class="toggle" aria-label="toggle"></button>
            </div>
            <div class="accordion-body">
              <div class="accordion-content">
                <div class="levels" v-for="(proposition, indexPropo) in result[res]" :key="indexPropo">
                  <h2 class="title">
                    Proposition {{ indexPropo + 1}} :
                  </h2>
                  <div class="level ml-5 my-3" v-for="(team, indexTeam) in proposition" :key="indexTeam">
                    <div class="level-left">
                      <strong>Équipe {{ indexTeam + 1 }} : </strong>
                    </div>
                    <div class="level-left box mx-3 my-0" v-for="caussenardId in team" :key="caussenardId">
                      {{ caussenardsMap.get(caussenardId).firstname + " " + caussenardsMap.get(caussenardId).lastname }}
                    </div>
                    <div class="level-item">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
      <div class="is-divider"></div>
      <div>
        <h2 class="title is-4">Tableau</h2>
        <div class="table-container">
          <table class="table" v-if="ready">  
            <thead>
              <tr>
                <th>Caussenards</th>
                <th v-for="c in Object.keys(result.teamMates)" :key="c">
                  <abbr :title="caussenardsMap.get(parseInt(c)).firstname + ' ' + caussenardsMap.get(parseInt(c)).lastname">
                    {{caussenardsMap.get(parseInt(c)).firstname.slice(0,1) +" " + caussenardsMap.get(parseInt(c)).lastname.slice(0,1)}}
                  </abbr>
                </th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Caussenards</th>
                <th v-for="c in Object.keys(result.teamMates)" :key="c">
                  <abbr :title="caussenardsMap.get(parseInt(c)).firstname + ' ' + caussenardsMap.get(parseInt(c)).lastname">
                    {{caussenardsMap.get(parseInt(c)).firstname.slice(0,1) +" " + caussenardsMap.get(parseInt(c)).lastname.slice(0,1)}}
                  </abbr>
                </th>
              </tr>
            </tfoot>
            <tbody>
              <tr v-for="c in Object.keys(result.teamMates)" :key="c">
                <th>
                  <abbr :title="caussenardsMap.get(parseInt(c)).firstname + ' ' + caussenardsMap.get(parseInt(c)).lastname">
                    {{caussenardsMap.get(parseInt(c)).firstname + " " + caussenardsMap.get(parseInt(c)).lastname}}
                  </abbr>
                </th>
                <td v-for="caus in Object.keys(result.teamMates)" :key="caus">
                  <button class="button is-marginless " :class="(c == caus) ? '' : ((result.teamMates[c][caus]) ? 'is-danger' : 'is-success')" disabled>
                    <p>  </p>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import APIPageMixin from "@/views/APIPageMixin";
import Header from "@/components/API/Header.vue";

export default {
  name: "TeamMaker",
  mixins: [APIPageMixin],
  components: {
    Header
  },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      pageName: "id",
      teamMakerId: this.id,

      ready: false,
      result: {},
      status: "pending",
      params: {},
      timestamp: "",
      caussenardsMap: new Map(),
      caussenardsList: new Array(),
      nbOfCaussenards: -1,
      dataLoaded: false
    };
  },
  mounted() {
    if (this.id != null) {
      this.getTeamMaker();
    }
  },
  methods: {
    getTeamMaker() {
      HTTP.get("/api/teammakers/" + this.teamMakerId, 
        null, this.$store.state.account.token
      ).then((response) => {
        this.result = response.data.content.result,
        this.status = response.data.content.status;
        this.params = response.data.content.params;
        this.timestamp = (new Date(response.data.content.updatedAt)).toLocaleString("fr-FR");
        this.nbOfCaussenards = this.params.list.length;
        
        this.params.list.forEach(element => {
          HTTP.get("api/caussenards/" + element,
            { fields: "id,firstname,lastname" },
            this.$store.state.account.token)
            .then((response) => {
              this.caussenardsMap.set(element, response.data.content);
              this.caussenardsList.push(response.data.content);
            }).catch((error) => {
              this.$store.dispatch("api/displayError", error);
            });
        });

        this.ready = true;
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    },

  },
  watch: {
    caussenardsList: function(newVal) {
      if (this.caussenardsList.length == this.nbOfCaussenards) {
        let bool = true;
        newVal.forEach((element) => {
          if (element == undefined) {
            bool = false;
          }
        });
        this.dataLoaded = bool;
      }
    }
  },
  computed: {
  }
};
</script>
