<template>
  <div class="constainer p-3">
    <Header title="Créer une répartition" subtitle=""/>
    <div class="is-divider"></div>
    <div class="columns">
      <div class="column">
        <h2 class="title is-6 has-text-centered">Ajouter des binômes</h2>

        <div class="p-3 is-centered">
          <div v-for="caussenard in caussenardList" :value="caussenard.id" :key="caussenard.id" class="level p-0 m-0" >
            <div class="level-item"><div class="box p-1 px-4 m-1">
              {{ caussenard.firstname + " " + caussenard.lastname.toUpperCase() }}
            </div></div>
          </div>
        </div>
        <div class="levels">
          <div class="level pb-0 mb-2">
            <div class="level-item pr-1"><Caussenard
              v-model="newCaussenardId"
              :lastnameInFirst="false"/></div>
            <button class="level-item button is-success pl-1 has-text-centered" @click="getCaussenardName"
              :disabled="newCaussenardId == null">
              Ajouter
            </button>
          </div>
          <div class="level py-0">
            <button class="level-item button is-danger py-0 pl-1 has-text-centered" @click="removeLast"
              :disabled="caussenardList.length == 0">
              Supprimer le dernier ajouté
            </button>
          </div>
        </div>
      </div>
      <div class="is-divider-vertical"></div>
      <div class="column has-text-centered">
        <h2 class="title is-6">Choisir le nombre d'équipes à former</h2>
        <br/>
        <h3 class="subtitle is-6 my-2">Nombre minimum d'équipes : </h3>
        <!-- <div class="field"><input id="sliderMinValue" class="slider is-medium has-output" step="1" :min="minTeam" :max="valueMax" :value="valueMin" type="range">
        <output for="sliderMinValue">{{valueMin}}</output></div> -->
        <div class="select">
          <select :value="valueMin" @change="handleChangeMin">
            <option v-for="nb in nbList" :value="nb"
              :key="nb" :selected="nb == valueMin"
              :disabled="nb > valueMax">
              {{ nb }}
            </option>
          </select>
        </div>
        <h3 class="subtitle is-6 my-2">Nombre maximum d'équipes : </h3>
        <!-- <input id="sliderMaxValue" class="slider has-output" step="1" :min="valueMin" :max="maxTeam" :value="valueMax" type="range">
        <output for="sliderMaxValue">{{valueMax}}</output> -->
        <div class="select">
          <select :value="valueMax" @change="handleChangeMax">
            <option v-for="nb in nbList" :value="nb"
              :key="nb" :selected="nb == valueMax"
              :disabled="nb < valueMin">
              {{ nb }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="is-divider"></div>
    <div class="column box has-text-centered p-0">
      <button class="button is-success m-0 is-fullwidth" 
        @click="generateTeamMaker"
        :class="(waiting) ? 'is-loading' : ''">
        Générer les binômes
      </button>
    </div>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import APIPageMixin from "@/views/APIPageMixin";
import Header from "@/components/API/Header.vue";
import Caussenard from "@/components/Input/Select/Caussenard.vue";

export default {
  name: "TeamMakerCreator",
  mixins: [APIPageMixin],
  components: {
    Header,
    Caussenard
  },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      pageName: "new",
      caussenardList: new Array(),
      newCaussenardId: null,

      valueMax: 1,
      valueMin: 1,

      waiting: false
    };
  },
  mounted() {
  },
  methods: {
    getCaussenardName() {
      if (this.isIn(this.newCaussenardId)) {
        var error = {message: "Caussenard déjà ajouté"};
        this.$store.dispatch("api/displayError", error);
      } else {
        HTTP.get("api/caussenards/" + this.newCaussenardId,
          {
            fields: "id,firstname,lastname"
          },
          this.$store.state.account.token)
          .then((response) => {
            this.caussenardList.push(response.data.content);
          }).catch((error) => {
            this.$store.dispatch("api/displayError", error);
          });
      }
    },

    removeLast () {
      this.caussenardList.pop();
    },

    handleChangeMin (e) {
      this.valueMin = e.target.value;
    },

    handleChangeMax (e) {
      this.valueMax = e.target.value;
    },

    isIn(id) {
      var result = false;
      this.caussenardList.forEach(element => {
        if (element.id == id) {
          result = true;
        }
      });
      return result;
    },

    generateTeamMaker () {
      this.waiting = true;
      let params = {
        list: this.caussenardList.map(c => c.id),
        nbOfteamsList: []
      };
      for(let i = this.valueMin; i <= this.valueMax; i++) {
        params.nbOfteamsList.push(i);
      }
      HTTP.post("api/teammakers/", null,
        {
          params: params
        },
        this.$store.state.account.token)
        .then((response) => {
          this.$router.replace({name: "TeamMakerId", params: {id: response.data.content.id}});
        }).catch((error) => {
          this.$store.dispatch("api/displayError", error);
        });
    }
  },
  watch: {
    minTeam: function(newValue) {
      if (newValue > this.valueMin) {
        this.valueMin = newValue;
      }
      if (newValue > this.valueMax) {
        this.valueMax = newValue;
      }
    },
    maxTeam: function(newValue) {
      if (newValue < this.valueMin) {
        this.valueMin = newValue;
      }
      if (newValue < this.valueMax) {
        this.valueMax = newValue;
      }
    }
  },
  computed: {
    nbList: function() {
      return  (Array.from(Array(this.maxTeam + 1).keys())).slice(this.minTeam);
    },
    maxTeam: function() {
      return Math.max(1, this.caussenardList.length);
    },
    minTeam: function() {
      return Math.round(this.caussenardList.length/6 + 1);
    }
  }
};
</script>
