<template>
  <div>
    <router-link :to="{name: 'Caussenard', params: {id: elementContent.id}}"
      class="panel-block p-0">
      <div class="column">
        <div class="level has-text-centered">
          <div class="level-item">
            <h1 class="title is-3">
              {{ fullname }} <span v-if="isLeader">*</span>
            </h1>
          </div>
          <div class="level-right" v-if="isEditor">
            <Leader v-model="leader" class="pr-3" v-if="elementContent.role"/>
            <button class="delete" v-on:click.stop.prevent="active = true" v-if="isAdmin"></button>
          </div>
        </div>
      </div>
    </router-link>
    <ValidPopUp
      :active="active"
      title="Supprimer ?"
      :content="'Voulez-vous supprimer le caussenard ' +
                elementContent.firstname + ' ' +
                elementContent.lastname + ' ?'"
      action='Supprimer'
      v-on:valid="deleteElement();active = false"
      v-on:cancel="active = false">
    </ValidPopUp>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ValidPopUp from "@/components/PopUp/ValidPopUp";
import ItemMixin from "@/components/API/Items/ItemMixin";
import Leader from "@/components/Input/RadioCheckbox/Leader";
import HTTP from "@/http-common";

export default {
  name: "CaussenardItem",
  mixins: [ItemMixin],
  components: {
    ValidPopUp, 
    Leader
  },
  data() {
    return {
      leader: (this.elementContent.role) ? this.elementContent.role.isLeader : false
    };
  },
  computed: {
    ...mapGetters("api/caussenardsList", {
      sortObject: "sortObject"
    }),

    fullname: function () {
      if (this.sortObject && this.sortObject.key === "firstname") {
        return this.elementContent.firstname + " " + this.elementContent.lastname.toUpperCase();
      } else {
        return this.elementContent.lastname.toUpperCase() + " " + this.elementContent.firstname;
      }
    },

    isLeader: function () {
      return (this.elementContent.role) ? this.elementContent.role.isLeader : false;
    }
  },
  watch: {
    leader: function(newVal) {
      HTTP.put(this.endPoint + this.elementContent.id,
        null, {isLeader: newVal}, this.$store.state.account.token
      ).then(() => {
        this.$emit("refresh");
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    }
  }
};
</script>

<style>
</style>
