<template>
  <div >
    <router-link :to="{name: 'Team', params: {id: elementContent.id}}"
      class="panel-block is-active py-0">
      <div class="column">
        <article class="level has-text-centered">
          <div class="level-left">
            <div class="level is-mobile">
              <div class="mx-2">
                <h1 class="title is-4"> 
                  {{ elementContent.year.number }} 
                </h1>
              </div>
              <div class="mx-2">
                Équipe {{ elementContent.number }}
              </div>
            </div>
          </div>
          <div class="level-item">
            <h1 class="title is-3"> 
              {{ elementContent.name }} <span v-if="isLeader">*</span>
            </h1>
          </div>
          <div class="level-right" v-if="isEditor">
            <Leader v-model="leader" class="pr-3" v-if="elementContent.role"/>
            <button class="delete" v-on:click.stop.prevent="active = true" v-if="isAdmin"></button>
          </div>
        </article>
      </div>
    </router-link>
    <ValidPopUp
      :active="active"
      title="Supprimer ?"
      :content="'Voulez-vous supprimer l\'équipe ' +
                elementContent.number + ' de ' + elementContent.year.number + ' ?'"
      action='Supprimer'
      v-on:valid="deleteElement();active = false"
      v-on:cancel="active = false">
    </ValidPopUp>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ValidPopUp from "@/components/PopUp/ValidPopUp";
import ItemMixin from "@/components/API/Items/ItemMixin";
import Leader from "@/components/Input/RadioCheckbox/Leader";
import HTTP from "@/http-common";

export default {
  name: "TeamItem",
  mixins: [ItemMixin],
  components: {
    ValidPopUp,
    Leader
  },
  data() {
    return {
      leader: (this.elementContent.role) ? this.elementContent.role.isLeader : false
    };
  },
  computed: {
    ...mapGetters("api/teamsList", {
      sortObject: "sortObject"
    }),

    isLeader: function () {
      return (this.elementContent.role) ? this.elementContent.role.isLeader : false;
    }
  },
  watch: {
    leader: function(newVal) {
      HTTP.put(this.endPoint + this.elementContent.id,
        null, {isLeader: newVal}, this.$store.state.account.token
      ).then(() => {
        this.$emit("refresh");
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    }
  }
};
</script>

<style>
</style>
