<template>
  <div>
    <router-link :to="{name: 'TeamMakerId', params: {id: elementContent.id}}"
      class="panel-block is-active py-0">
      <div class="column">
        <div class="level has-text-centered">
          <div class="level-left">
            <i> {{ elementContent.status }} </i>
          </div>
          <div class="level-item">
            <div>
              <h1 class="title is-3"> {{ lastUpdate }} </h1>
            </div>
          </div>
          <div class="level-right" v-if="isAdmin">
            <button class="delete" v-on:click.stop.prevent="active = true"></button>
          </div>
        </div>
      </div>
    </router-link>
    <ValidPopUp
      :active="active"
      title="Supprimer ?"
      :content="'Voulez-vous supprimer le process ?'"
      action='Supprimer'
      v-on:valid="deleteElement();active = false"
      v-on:cancel="active = false">
    </ValidPopUp>
  </div>
</template>

<script>
import ValidPopUp from "@/components/PopUp/ValidPopUp";
import ItemMixin from "@/components/API/Items/ItemMixin";

export default {
  name: "TeamMakerItem",
  mixins: [ItemMixin],
  components: {
    ValidPopUp
  },
  computed: {
    lastUpdate: function() {
      return (this.elementContent.updatedAt) ? (new Date(this.elementContent.updatedAt)).toLocaleString("fr-FR") : "";
    }
  }
};
</script>

<style>
</style>
