<template>
  <div>
    <router-link :to="{name: 'User', params: {id: elementContent.id}}"
      class="panel-block is-active py-0">
      <div class="column">
        <div class="level has-text-centered">
          <div class="level-item">
            <h1 class="title is-4">
              {{ elementContent.email }}
            </h1>
          </div>
          <div class="left-right" v-if="isAdmin">
            <button class="delete" v-on:click.stop.prevent="active = true"></button>
          </div>
        </div>
      </div>
    </router-link>
    <ValidPopUp
      :active="active"
      title="Supprimer ?"
      :content="'Voulez-vous supprimer l\'utilisateur ' + elementContent.email + ' ?'"
      action='Supprimer'
      v-on:valid="deleteElement();active = false"
      v-on:cancel="active = false">
    </ValidPopUp>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ValidPopUp from "@/components/PopUp/ValidPopUp";
import ItemMixin from "@/components/API/Items/ItemMixin";

export default {
  name: "UserItem",
  mixins: [ItemMixin],
  components: {
    ValidPopUp
  },
  computed: {
    ...mapGetters("api/usersList", {
      sortObject: "sortObject"
    })

  }
};
</script>

<style>
</style>
