<template>
  <div>
    <router-link :to="{name: 'Year', params: {id: elementContent.id}}"
      class="panel-block is-active py-0">
      <div class="column">
        <div class="level has-text-centered">
          <div class="level-left">
            <h1 class="title is-3"> {{ elementContent.number }} </h1>
          </div>
          <div class="level-item">
            <div>
              <i> {{ elementContent.theme }} </i>
            </div>
          </div>
          <div class="level-right" v-if="isAdmin">
            <button class="delete" v-on:click.stop.prevent="active = true"></button>
          </div>
        </div>
      </div>
    </router-link>
    <ValidPopUp
      :active="active"
      title="Supprimer ?"
      :content="'Voulez-vous supprimer l\'année ' + elementContent.number + ' ?'"
      action='Supprimer'
      v-on:valid="deleteElement();active = false"
      v-on:cancel="active = false">
    </ValidPopUp>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ValidPopUp from "@/components/PopUp/ValidPopUp";
import ItemMixin from "@/components/API/Items/ItemMixin";

export default {
  name: "YearItem",
  mixins: [ItemMixin],
  components: {
    ValidPopUp
  },
  computed: {
    ...mapGetters("api/yearsList", {
      sortObject: "sortObject"
    })
  }
};
</script>

<style>
</style>
