<template>
  <div class="buttons has-addons">
    <p class="button">Trier: </p>
    <div class="button" @click="changeOrder">
      <span ref="sortIcon" class="icon">
        <!-- <i :class="icon" :key="JSON.stringify(icon)"></i> -->
        <i class="fas fa-sort-alpha-up"></i>
      </span>
    </div>
    <div class="button" @click="incrementIndex">
      {{ sortObject.name }}
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import SortMixin from "@/components/API/Sorts/SortMixin";

export default {
  name: "UserSort",
  mixins: [SortMixin],
  data () {
    return {
    };
  },
  methods: {
    ...mapActions("api/usersList", {
      setSortIndex: "setSortIndex",
      setSortOrder: "setSortOrder"
    })
  },
  mounted: function () {
    this.changeIcon();
  },
  computed: {
    ...mapGetters("api/usersList", {
      sortObject: "sortObject",
      sortIndex: "sortIndex",
      sortOrder: "sortOrder",
      nbOfSorts: "nbOfSorts"
    })
  }
};
</script>

<style>
</style>
