<template>
  <header class="container is-max-desktop m-6">
    <h1 class="title">
      <span v-html="title"></span>
    </h1>
    <p class="subtitle is-4" v-html="subtitle">
      {{subtitle}}"
    </p>
  </header>
</template>

<script>

export default {
  name: "Header",
  components: {},
  data () {
    return {
    };
  },
  props: {
    title: String,
    subtitle: String
  },
};
</script>
