<template>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <button class="pagination-previous button"
        @click="newPage(currentPage - 1)"
        :disabled="currentPage <= 1">
        Previous
      </button>
      <button class="pagination-next button"
        @click="newPage(currentPage + 1)"
        :disabled="currentPage >= maxPage">
        Next page
      </button>
      <ul class="pagination-list">
        <li>
          <a class="pagination-link" @click="newPage(1)" v-show="currentPage > 2">1</a>
        </li>
        <li>
          <span class="pagination-ellipsis" v-show="currentPage > 3">&hellip;</span>
        </li>
        <li v-if="currentPage > 1">
          <a class="pagination-link" @click="newPage(currentPage - 1)">
            {{currentPage-1}}
          </a>
        </li>
        <li>
          <a class="pagination-link is-current">
            {{currentPage}}
          </a>
        </li>
        <li  v-if="currentPage < maxPage">
          <a class="pagination-link" @click="newPage(currentPage + 1)">
            {{currentPage+1}}
          </a>
        </li>
        <li>
          <span class="pagination-ellipsis" v-show="currentPage < maxPage - 2">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link" @click="newPage(maxPage)" v-show="currentPage < maxPage - 1">
            {{maxPage}}
          </a>
        </li>
      </ul>
    </nav>
</template>

<script>
export default {
  name: "Pagination",
  data () {
    return {
    };
  },
  props: {
    currentPage: { type: Number, default: 1 },
    maxPage: { type: Number, default: 1 }
  },
  methods: {
    newPage: function (page) {
      if (page <= this.maxPage && page > 0) {
        this.$emit("newpage", page);
      }
    }
  }
};
</script>

<style>
</style>
