<template>
  <div class="level">
    <div class="level-left"></div>
    <div lass="level-right">
      <div class="level-item box p-3">
        <div class="field has-addons">
          <div class="control has-icons-left">
            <input class="input"
              id="searchBarInput"
              type="text"
              :placeholder="placeholder"
              ref="input"
              @input="handleInput"
              :value="content">
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </div>
          <div class="control">
            <button class="button" @click="research()">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
              <span>Rechercher</span>
            </button>
          </div>
          <div class="control">
            <button class="button" @click="clean()">
              <span class="icon is-large">
                <i class="fas fa-times"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "SearchBar",
  data () {
    return {
      typingTimer: null,
      typingDelay: 1000,
      content: ""
    };
  },
  props: {
    placeholder: {
      type: String,
      default: ""
    }
  },
  methods: {
    handleInput (e) {
      clearTimeout(this.typingTimer);
      this.typingTimer = setTimeout(() => { this.research(); }, this.typingDelay);
      this.$emit("input", e.target.value);
    },

    research() {
      this.$emit("search");
    },

    clean() {
      document.getElementById("searchBarInput").value = "";
      this.$emit("input", "");
      this.research();
    }
  },
  computed: {
  }
};
</script>

<style>
</style>
