<template>
  <div class="buttons has-addons">
    <p class="button">Nombre d'éléments par page: </p>
    <button class="button" :class="(elemByPage === 10) ? 'is-yellow3MDC' : ''" @click="newQuantity(10)">10</button>
    <button class="button" :class="(elemByPage === 20) ? 'is-yellow3MDC' : ''" @click="newQuantity(20)">20</button>
    <button class="button" :class="(elemByPage === 50) ? 'is-yellow3MDC' : ''" @click="newQuantity(50)">50</button>
    <button class="button" :class="(elemByPage === 100) ? 'is-yellow3MDC' : ''" @click="newQuantity(100)">100</button>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";

export default {
  name: "Pagination",
  methods: {
    ...mapMutations("api", {
      newQuantity: "newElemByPage"
    })
  },
  computed: {
    ...mapState("api", {
      elemByPage: "elemByPage"
    })
  }
};
</script>

<style>
</style>
