<template>
  <div>
    <div class="field">
      <label>Genre :</label>
      <input class="is-checkradio is-small is-info" id="radioHomme" 
        type="radio" :value="Homme" v-model="content">
      <label for="radioHomme">H</label>
      <input class="is-checkradio is-small is-info" id="radioFemme" 
        type="radio" :value="Femme" v-model="content">
      <label for="radioFemme">F</label>
    </div>
  </div>
</template>

<script>
import InputMixin from "@/components/Input/InputMixin";
import RadioCheckboxMixin from "@/components/Input/RadioCheckbox/RadioCheckboxMixin";

export default {
  name: "Gender",
  mixins: [InputMixin, RadioCheckboxMixin],
  data () {
    return {
      Homme: 1,
      Femme: 2
    };
  }
};

</script>
