<template>
  <div>
    <div class="field" v-on:click.stop="() => {}">
      <input class="switch is-info is-rtl" :id="'checkBoxLeader' + id" 
        type="checkbox" v-model="content">
      <label :for="'checkBoxLeader' + id">Binôme</label>
    </div>
  </div>
</template>

<script>
import InputMixin from "@/components/Input/InputMixin";
import RadioCheckboxMixin from "@/components/Input/RadioCheckbox/RadioCheckboxMixin";

export default {
  name: "Leader",
  mixins: [InputMixin, RadioCheckboxMixin],
  data () {
    return {
      id: Math.floor(Math.random() * Math.floor(1000)),
    };
  }
};

</script>
