<template>
  <div class="modal" :class="(active) ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modifier le Caussenard</p>
        <button class="delete" aria-label="close" @click="closePopUp()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Nom</label>
          <LastName v-model="newLastname"/>
        </div>
        <div class="field">
          <label class="label">Prénom</label>
          <FirstName v-model="newFirstname" />
        </div>
        <div class="field">
          <label class="label">Date de Naissance</label>
          <Date v-model="newDateOfBirth" />
        </div>
        <div class="field">
          <label class="label">Genre</label>
          <Gender v-model="newGender" />
        </div>
        <Notif
          :message="notif.message"
          :details="notif.details"
          :type="notif.type"
          :active="notif.active"
          v-on:delete="closeNotif()"
        />
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="updateElement">Modifier</button>
        <button class="button" @click="closePopUp">Fermer</button>
      </footer>
    </div>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import Notif from "@/components/Notif.vue";
import FirstName from "@/components/Input/Text/FirstName.vue";
import LastName from "@/components/Input/Text/LastName.vue";
import Date from "@/components/Input/Date/Date.vue";
import Gender from "@/components/Input/RadioCheckbox/Gender.vue";
import APIPopUpMixin from "@/components/PopUp/APIPopUpMixin";

export default {
  name: "CaussenardUpdate",
  mixins: [APIPopUpMixin],
  components: {
    Notif,
    FirstName,
    LastName,
    Date,
    Gender
  },
  data () {
    return {
      newFirstname: null,
      newLastname: null,
      newDateOfBirth: null,
      newGender: null
    };
  },
  props: ["id", "firstname", "lastname", "gender", "dateOfBirth"],
  watch: {
    firstname (newValue) {
      this.newFirstname = newValue;
    },
    lastname (newValue) {
      this.newLastname = newValue;
    },
    dateOfBirth (newValue) {
      this.newDateOfBirth = newValue;
    },
    gender (newValue) {
      this.newGender = newValue;
    }
  },
  methods: {
    updateElement () {
      HTTP.put("api/caussenards/" + this.id, null, {
        firstname: this.newFirstname,
        lastname: this.newLastname,
        birth: this.newDateOfBirth,
        gender: this.newGender
      },
      this.$store.state.account.token
      ).then(() => {
        this.$store.dispatch("api/displaySuccess", "Modification réussi");
        this.$emit("modified");
        this.$emit("close");
      }).catch((err) => {
        this.$store.dispatch("api/displayError", err);
      });
    }
  }
};
</script>
