<template>
  <div class="modal" :class="(active) ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Connectez-vous</p>
        <button class="delete" aria-label="close" @click="closePopUp"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Email</label>
          <Email  v-model="email" :details="true" @validate="tryLogin" />
        </div>
        <div class="field">
          <label class="label">Password</label>
          <Password v-model="password" :details="true" @validate="tryLogin" />
        </div>
        <Notif
          :message="notif.message"
          :details="notif.details"
          :type="notif.type"
          :active="notif.active"
          v-on:delete="closeNotif"
        />
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="tryLogin">Se connecter</button>
        <button class="button" @click="closePopUp">Annuler</button>
      </footer>
    </div>
  </div>
</template>

<script>
import Notif from "@/components/Notif.vue";
import Password from "@/components/Input/Text/Password.vue";
import Email from "@/components/Input/Text/Email.vue";
import APIPopUpMixin from "@/components/PopUp/APIPopUpMixin";
import HTTP from "@/http-common";

export default {
  name: "Login",
  mixins: [APIPopUpMixin],
  inheritAttrs: true,
  components: {
    Notif,
    Password,
    Email
  },
  data () {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    tryLogin () {
      HTTP.post(
        "api/users/login", null,
        { email: this.email, password: this.password }, null
      ).then((response) => {
        this.$store.dispatch("account/saveAccount", response.data.content.user, { root: true });
        this.$store.dispatch("account/setToken", response.data.content.token, { root: true });
        this.closePopUp();
        // this.$router.go();
      }).catch((error) => {
        if (error.response) {
          this.$store.commit("api/displayNotif", {
            type: "danger",
            message: error.response.data.error.userMessage
          });
        } else if (error.request) {
          this.$store.commit("api/displayNotif", {
            type: "danger",
            message: error.request
          });
        } else {
          this.$store.commit("api/displayNotif", {
            type: "danger",
            message: "Error"
          });
        }
      });
    }
  }
};
</script>
