<template>
  <div class="modal" :class="(active) ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modifier l'Équipe</p>
        <button class="delete" aria-label="close" @click="closePopUp()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Année</label>
          <Year v-model="newYearId" />
        </div>
        <div class="field">
          <label class="label">Numéro</label>
          <Number v-model="newNumber" />
        </div>
        <div class="field">
          <label class="label">Nom</label>
          <Name v-model="newName" />
        </div>
        <Notif
          :message="notif.message"
          :details="notif.details"
          :type="notif.type"
          :active="notif.active"
          v-on:delete="closeNotif()"
        />
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="updateElement">Modifier</button>
        <button class="button" @click="closePopUp">Fermer</button>
      </footer>
    </div>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import Notif from "@/components/Notif.vue";
import Year from "@/components/Input/Select/Year.vue";
import Number from "@/components/Input/Text/Number.vue";
import Name from "@/components/Input/Text/Name.vue";
import APIPopUpMixin from "@/components/PopUp/APIPopUpMixin";

export default {
  name: "TeamUpdate",
  mixins: [APIPopUpMixin],
  components: {
    Notif,
    Year,
    Number,
    Name
  },
  props: ["id", "yearId", "number", "name"],
  data () {
    return {
      newYearId: null,
      newNumber: null,
      newName: null
    };
  },
  watch: {
    yearId (newValue) {
      this.newYearId = newValue;
    },
    number (newValue) {
      this.newNumber = newValue;
    },
    name (newValue) {
      this.newName = newValue;
    }
  },
  methods: {
    updateElement () {
      HTTP.put("api/teams/" + this.id, null, {
        yearId: this.newYearId,
        number: this.newNumber,
        name: this.newName
      },
      this.$store.state.account.token
      ).then(() => {
        this.$store.dispatch("api/displaySuccess", "Modification réussi");
        this.$emit("modified");
        this.$emit("close");
      }).catch((err) => {
        this.$store.dispatch("api/displayError", err);
      });
    }
  }
};
</script>
