<template>
  <div class="modal" :class="(active) ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modifier l'Année</p>
        <button class="delete" aria-label="close" @click="closePopUp()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Email</label>
          <Email v-model="newEmail" />
        </div>
        <div class="field">
          <label class="label">Nouveau Mot de Passe</label>
          <Password v-model="newPassword" />
        </div>
        <div class="field">
          <label class="label">Niveau d'Authentification</label>
          <AuthLevel v-model="newAuthLevel" />
        </div>
        <Notif
          :message="notif.message"
          :details="notif.details"
          :type="notif.type"
          :active="notif.active"
          v-on:delete="closeNotif()"
        />
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="updateElement">Modifier</button>
        <button class="button" @click="closePopUp">Fermer</button>
      </footer>
    </div>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import Notif from "@/components/Notif.vue";
import Email from "@/components/Input/Text/Email.vue";
import Password from "@/components/Input/Text/Password.vue";
import AuthLevel from "@/components/Input/Select/AuthLevel.vue";
import APIPopUpMixin from "@/components/PopUp/APIPopUpMixin";

export default {
  name: "TeamUpdate",
  mixins: [APIPopUpMixin],
  components: {
    Notif,
    Email,
    Password,
    AuthLevel
  },
  props: ["id", "email", "authLevel"],
  data () {
    return {
      newEmail: null,
      newPassword: null,
      newAuthLevel: null
    };
  },
  watch: {
    email (newValue) {
      this.newEmail = newValue;
    },
    authLevel (newValue) {
      this.newAuthLevel = newValue;
    }
  },
  methods: {
    updateElement () {
      HTTP.put("api/users/" + this.id, null, {
        email: this.newEmail,
        password: (this.newPassword !== "") ? this.newPassword : null,
        authLevel: this.newAuthLevel
      },
      this.$store.state.account.token
      ).then(() => {
        this.$store.dispatch("api/displaySuccess", "Modification réussi");
        this.$emit("modified");
        this.$emit("close");
      }).catch((err) => {
        this.$store.dispatch("api/displayError", err);
      });
    }
  }
};
</script>
