<template>
  <div class="modal" :class="(active) ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{ title }}
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <p class="has-text-centered"> {{ content }} </p>
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item"
              @click="$emit('valid')"> {{ action }} </a>
            <a href="#" class="card-footer-item"
              @click="$emit('cancel')"> Annuler </a>
          </footer>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ValidPopUp",
  data () {
    return {
    };
  },
  props: {
    active: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: "Sérieusement ?"
    },
    content: {
      type: String,
      default: "Voulez-vous vraiment faire ceci ?"
    },
    action: {
      type: String,
      default: "Valider"
    }
  }
};
</script>

<style>
</style>
