<template>
  <div class="modal" :class="(active) ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modifier l'Année</p>
        <button class="delete" aria-label="close" @click="closePopUp()"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Année</label>
          <Year :value="newNumber"
          @input="e => this.newNumber = e.target.value"/>
        </div>
        <div class="field">
          <label class="label">Thème</label>
          <Theme :value="newTheme"
          @input="e => this.newTheme = e.target.value"/>
        </div>
        <Notif
          :message="notif.message"
          :details="notif.details"
          :type="notif.type"
          :active="notif.active"
          v-on:delete="closeNotif()"
        />
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="updateElement">Modifier</button>
        <button class="button" @click="closePopUp">Fermer</button>
      </footer>
    </div>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import Notif from "@/components/Notif.vue";
import Year from "@/components/Input/Text/Year.vue";
import Theme from "@/components/Input/Text/Theme.vue";
import APIPopUpMixin from "@/components/PopUp/APIPopUpMixin";

export default {
  name: "YearUpdate",
  mixins: [APIPopUpMixin],
  components: {
    Notif,
    Year,
    Theme
  },
  props: ["id", "number", "theme"],
  data () {
    return {
      newNumber: null,
      newTheme: null
    };
  },
  watch: {
    number (newValue) {
      this.newNumber = newValue;
    },
    theme (newValue) {
      this.newTheme = newValue;
    }
  },
  methods: {
    updateElement () {
      HTTP.put("api/years/" + this.id, null, {
        number: this.newNumber,
        theme: this.newTheme
      },
      this.$store.state.account.token
      ).then(() => {
        this.$store.dispatch("api/displaySuccess", "Modification réussi");
        this.$emit("modified");
        this.$emit("close");
      }).catch((err) => {
        this.$store.dispatch("api/displayError", err);
      });
    }
  }
};
</script>
