<template>
  <div>
    <div class="control has-icons-left">
      <div class="select">
        <select
          :value="value"
          @change="handleChange" >
          <option :value="0">Client</option>
          <option :value="1" selected>User</option>
          <option :value="2">VerifUser</option>
          <option :value="3">Editor</option>
          <option :value="4">Manager</option>
          <option :value="5">Admin</option>
        </select>
      </div>
      <span class="icon is-small is-left">
        <i class="fas fa-user-cog"></i>
      </span>
    </div>
  </div>
</template>

<script>
import SelectMixin from "@/components/Input/Select/SelectMixin";

export default {
  name: "Authlevel",
  mixins: [SelectMixin],
  props: ["value"]
};
</script>
