<template>
  <div class="control has-icons-left">
    <div class="select">
      <select v-if="noElements" disabled>
        <option selected>Aucun caussenard</option>
      </select>
      <select :value="value" @change="handleChange" v-else>
        <option :value="null" selected disabled> Sélectionner un Caussenard </option>
        <option v-for="caussenard in elementList" :value="caussenard.id" :key="caussenard.id">
          {{
            (lastnameInFirst) ?
            caussenard.lastname.toUpperCase() + " " + caussenard.firstname
            : caussenard.firstname + " " + caussenard.lastname.toUpperCase()
          }}
        </option>
      </select>
    </div>
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import SelectMixin from "@/components/Input/Select/SelectMixin";

export default {
  name: "CaussenardSelector",
  mixins: [SelectMixin],
  props: ["value", "lastnameInFirst"],
  methods: {
    getList () {
      HTTP.get("api/caussenards",
        {
          order: "lastname:ASC",
          fields: "id,firstname,lastname"
        },
        this.$store.state.account.token)
        .then((response) => {
          this.elementList = response.data.content;
        }).catch((error) => {
          this.$store.dispatch("api/displayError", error);
        });
    }
  }
};
</script>
