<template>
  <div class="control has-icons-left">
    <div class="select">
      <select v-if="noElements" disabled>
        <option selected>Aucune équipe</option>
      </select>
      <select :value="value" @change="handleChange" v-else>
        <option :value="null" selected disabled> Équipe </option>
        <option v-for="team in elementList" :value="team.id" :key="team.id" :selected="team.id == value">
          {{ team.number }} - {{ team.name}}
        </option>
      </select>
    </div>
    <span class="icon is-small is-left">
      <i class="fas fa-users"></i>
    </span>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import SelectMixin from "@/components/Input/Select/SelectMixin";

export default {
  name: "TeamSelector",
  mixins: [SelectMixin],
  props: ["value", "yearId"],
  methods: {
    getList () {
      if (this.yearId) {
        HTTP.get("api/years/" + this.yearId + "/teams",
          {
            order: "number:ASC",
            fields: "id,number,name"
          },
          this.$store.state.account.token)
          .then((response) => {
            this.elementList = response.data.content;
          }).catch((error) => {
            this.$store.dispatch("api/displayError", error);
          });
      } else {
        this.teamList = [];
      }
    }
  },
  watch: {
    yearId: function () {
      this.getList();
    }
  }
};
</script>
