<template>
  <div class="control has-icons-left">
    <div class="select">
      <select v-if="noElements" disabled>
        <option selected>Aucune année</option>
      </select>
      <select :value="value" @change="handleChange" v-else>
        <option :value="null" selected disabled> Année </option>
        <option v-for="year in elementList" :value="year.id" :key="year.id">
          {{ year.number }}
        </option>
      </select>
    </div>
    <span class="icon is-small is-left">
      <i class="fas fa-calendar-alt"></i>
    </span>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import SelectMixin from "@/components/Input/Select/SelectMixin";

export default {
  name: "YearSelector",
  mixins: [SelectMixin],
  props: ["value", "defaultValue"],
  methods: {
    getList () {
      HTTP.get("api/years",
        {
          order: "number:DESC",
          fields: "id,number"
        }, this.$store.state.account.token
      ) .then((response) => {
        this.elementList = response.data.content;
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    }
  }
};
</script>
