<template>
  <div>
    <div class="control has-icons-left">
      <input
        class="input"
        :class="theClass"
        type="date"
        ref="input"
        :value="content"
        @input="handleInput"
        @focus="check">
      <span class="icon is-small is-left">
        <i class="fas fa-birthday-cake"></i>
      </span>
    </div>
    <p class="help" :class="theClass" v-if="details">
      {{ message }}
    </p>
  </div>
</template>

<script>
import { DATE_REGEX } from "@/utils/regex";
import InputMixin from "@/components/Input/InputMixin";

export default {
  name: "Password",
  mixins: [InputMixin],
  data () {
    return {
      messageOk: "Date valide",
      messageNOK: "Date invalide"
    };
  },
  methods: {
    check: function (e) {
      this.isValid = DATE_REGEX.test(e.target.value);
      this.isEmpty = (e.target.value === null);
    }
  }
};

</script>
