<template>
  <div>
    <div class="hero has-background-primary-light">
      <div class="hero-body">
        <div class="container">
          <div class="block">
            <Header title="A propos" subtitle="Informations à propos du site"/>
          </div>  
        </div>
      </div>
    </div>
    <div class="container my-6">
      <div class="column level is-mobile m-4">
        <h1 class="title level-left">
          Projets Gitlab
          <figure class="image is-48x48 mx-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/GitLab_Logo.svg/210px-GitLab_Logo.svg.png">
          </figure>
        </h1>
      </div>
      <div class="tile is-ancestor m-3">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <GitlabProject :id="21102037"/>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <GitlabProject :id="21102082"/>
          </div>
        </div>
      </div>
      <div class="column level is-mobile m-4"> 
        <h1 class="level-left title">
          Technologies
        </h1>
      </div>
      <div class="level">
        <a class="level-left box p-3 m-3" style="display: flex;"
          href="https://www.npmjs.cpm/">
          <span class="icon is-large has-text-link">
            <i class="fab fa-npm fa-2x"></i>
          </span>
          <span class="is-size-5">npm</span>
        </a>
        <a class="level-left box p-3 m-3" style="display: flex;"
          href="https://nodejs.org/">
          <span class="icon is-large has-text-link">
            <i class="fab fa-node-js fa-2x"></i>
          </span>
          <span class="is-size-5">Node.js</span>
        </a>
        <a class="level-left box p-3 m-3" style="display: flex;"
          href="https://vuejs.org/">
          <span class="icon is-large has-text-link">
            <i class="fab fa-vuejs fa-2x"></i>
          </span>
          <span class="is-size-5">Vue.js</span>
        </a>
        <div class="level-left box p-3 m-3" style="display: flex;">
          <span class="icon is-large has-text-link">
            <i class="fab fa-js fa-2x"></i>
          </span>
          <span class="is-size-5">Javascript</span>
        </div>
        <div class="level-left box p-3 m-3" style="display: flex;">
          <span class="icon is-large has-text-link">
            <i class="fab fa-html5 fa-2x"></i>
          </span>
          <span class="is-size-5">HTML</span>
        </div>
        <div class="level-left box p-3 m-3" style="display: flex;">
          <span class="icon is-large has-text-link">
            <i class="fab fa-css3-alt fa-2x"></i>
          </span>
          <span class="is-size-5">CSS</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GitlabProject from "@/components/GitlabProject.vue";
import Header from "@/components/API/Header.vue";

export default {
  name: "About",
  components: {
    Header,
    GitlabProject
  },
};
</script>
