<template>
  <div>
    <div class="hero has-background-primary-light">
      <div class="hero-body">
        <div class="container">
          <div class="block">
            <Header title="Options Avancées" subtitle="Gestion avancée"/>
          </div>  
        </div>
      </div>
    </div>
    <div class="container my-6">
      <h1 class="title">
        Gestion de la base de données
      </h1>
      <div class="block m-5">
        <Notif
          :message="notif.message"
          :details="notif.details"
          :type="notif.type"
          :active="notif.active"
          v-on:delete="closeNotif()"
        />
      </div>
      <div class="columns is-vcentered">
        <div class="column">
          <div class="level">
            <button class="level-item button" @click="download"
              :class="(isGetting) ? 'is-loading' : ''">
              Download
            </button>
          </div>
        </div>
        <div class="is-divider-vertical"></div>
        <div class="column">
          <div class="level my-3">
            <div class="level-item file has-name is-fullwidth"
                :class="(fileContent == null) ? '' : (!fileValide) ? 'is-danger' : 'is-success' ">
              <label class="file-label">
                <input class="file-input" type="file" name="resume" @change="newFile">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choisir un fichier…
                  </span>
                </span>
                <span class="file-name">
                  {{ filename }}
                </span>
              </label>
            </div>
          </div>
          <div class="level my-3">
            <button class="level-item button" @click="upload"
              :class="(isUpdating) ? 'is-loading' : ''"
              :disabled="(fileContent == null || !fileValide)">
              Upload
            </button>
          </div>
          <div class="level my-0" v-if="uploadResults != null">
            <a class="level-item" :href="uploadHRef" download="uploadReport.json">
              <i> {{ uploadResults.added.length + " added, " + uploadResults.ignored.length + " ignored"}} </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Header from "@/components/API/Header.vue";
import HTTP from "@/http-common";
import Notif from "@/components/Notif.vue";


export default {
  name: "Advanced",
  components: {
    Header,
    Notif
  },
  data() {
    return {
      file : null,
      fileContent : null,

      isLoading : false,
      isUpdating : false,
      isGetting : false,
      uploadResults : null
    };
  },

  mounted: function () {
    this.$store.dispatch("api/closeNotif");
  },

  methods: {
    ...mapActions("api", {
      closeNotif: "closeNotif"
    }),

    download() {
      this.isGetting = true;
      HTTP.get("/api/download",
        null, this.$store.state.account.token, 120000
      ).then((response) => {
        const anchor = document.createElement("a");
        anchor.href = "data:text/csv;charset=utf-8," + encodeURIComponent(response.data.content);
        anchor.target = "_blank";
        anchor.download = "bdd.csv";
        anchor.click();
        this.isGetting = false;
      }).catch((error) => {
        console.log(error);
        this.isGetting = false;
        this.$store.dispatch("api/displayError", error);
      });
    },

    upload() {
      this.uploadResults = null;
      this.isUpdating = true;
      HTTP.put("/api/upload",
        null, { csv : this.fileContent }, this.$store.state.account.token, 120000
      ).then((response) => {
        this.isUpdating = false;
        this.uploadResults = response.data.content.results;
      }).catch((error) => {
        this.isUpdating = false;
        this.$store.dispatch("api/displayError", error);
      });
    },

    newFile(e) {
      var files = e.target.files || e.dataTransfer.files;
      this.fileValide = false;
      if (files.length) {
        this.file = files[0];
        const reader = new FileReader();
        reader.addEventListener("load", (event) => {
          this.fileContent = event.target.result;
        });
        reader.addEventListener("loadstart", () => {
          if (this.file.type == "text/csv") 
            this.fileValide = true;
          this.isLoading = true;
        });
        reader.addEventListener("loadend", () => {
          this.isLoading = false;
        });
        reader.readAsText(this.file);
      }
    },

  },
  computed: {
    filename() {
      return (this.file == null) ? "" : this.file.name;
    },
    uploadHRef() {
      return (this.uploadResults == null) ? null : "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(this.uploadResults));

    },

    ...mapState("api", {
      notif: "notif"
    })
  }
};
</script>
