<template>
  <section>
    <div class="hero has-background-success-light">
      <div class="hero-body">
        <div class="container">
          <div class="block">
            <Header title="Documentation de l'API" :subtitle="subtitle"/>
          </div>  
        </div>
      </div>
    </div>
    <div id="content" class= "container my-3">
      <div class="column ">
        <nav class="panel">
          <iframe :src="apiDocs"
            width="100%" height="700" position="relative">
          </iframe>
        </nav>
      </div>
    </div>
  </section>
</template>

<script>
import Header from "@/components/API/Header.vue";

export default {
  name: "APIDocumentation",
  components: {
    Header
  },
  data () {
    return {
      apiDocs: process.env.VUE_APP_API_ADDRESS + "/api-docs"
    };
  },
  computed: {
    subtitle: function() {
      return "Documentation de l'API <a href=\"" + this.apiDocs + "\">ici</a>";
    }
  }
};
</script>>
