<template>
  <div>
    <div class="hero has-background-link-light	">
      <div class="hero-body">
        <div class="container">
          <div class="block">
            <Header title="Contact" subtitle="Informations pour nous contacter"/>
          </div>  
        </div>
      </div>
    </div>
    <div class="container my-6">
      <div class="column is-mobile m-4">
        <h2 class="title">
          Pierre Odeau
        </h2>
        <h3 class="subtitle">
          Créateur du site internet
        </h3>
        <div class="level">
          <a class="level-left box p-3 m-3" style="display: flex;"
            :href="gitLabAccount">
            <span class="icon is-large">
              <i class="fab fa-gitlab fa-2x"></i>
            </span>
            <span class="is-size-5">Sur Gitlab</span>
          </a>
          <a class="level-left box p-3 m-3" style="display: flex;"
           href="mailto:odeaupierre@yahoo.fr">
            <span class="icon is-large">
              <i class="fas fa-envelope fa-2x"></i>
            </span>
            <span class="is-size-5">Par email</span>
          </a>
          <div class="level-item"></div>
        </div>
      </div>
    </div>
    <div class="container my-6">
      <div class="column is-mobile m-4">
        <h2 class="title">
          Sherpa Causses
        </h2>
        <h3 class="subtitle">
          Organisation de la <strong>Marche des Causses</strong>
        </h3>
        <div class="level">
          <a class="level-left box p-3 m-3" style="display: flex;"
           href="https://www.facebook.com/messages/t/sherpacausses">
            <span class="icon is-large">
              <i class="fab fa-facebook-messenger fa-2x"></i>
            </span>
            <span class="is-size-5">Par Messenger</span>
          </a>
          <a class="level-left box p-3 m-3" style="display: flex;"
            href="mailto:marchedescausses@gmail.com">
            <span class="icon is-large">
              <i class="fas fa-envelope fa-2x"></i>
            </span>
            <span class="is-size-5">Par Email</span>
          </a>
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/API/Header.vue";
import HTTP from "@/gitlabAPI.js";

export default {
  name: "About",
  components: {
    Header
  },
  data () {
    return {
      id: 765675,
      gitLabAccount: null
    };
  },
  mounted() {
    this.getUserProfile();
  },
  methods: {
    getUserProfile() {
      HTTP.get("users/" + this.id, null, null
      ).then((response) => {
        this.gitLabAccount = response.data.web_url;
      }).catch((error) => {
        this.$store.dispatch("api/displayNotif", error);
      });
    }
  },
};
</script>
