<template>
  <div class="hero is-medium">
    <div class="hero-body">
      <div class="container is-centered">
        <div class="columns is-vcentered">
          <div class="column is-6 columns">
            <div class="columns">
              <div class="column is-two-thirds is-offset-3 has-text-left">
                <h1 class="is-size-3"> 
                  Ce <strong>site internet</strong> a été créer pour mettre à 
                  disposition des <strong>données</strong> et <strong>statistiques</strong>
                  sur la <strong>Marche des Causses</strong>
                </h1>
                <br />
                <div class="buttons are-medium">
                  <button class="button is-info" @click="$router.push({name: 'APIHome'})">
                    Base de données
                  </button>
                  <button class="button is-ghost" @click="$router.push({name: 'StatsHome'})">
                    Statistiques
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-hidden-mobile">
            <figure class="image">
              <img src="@/assets/logoMDC.png">
            </figure>
          </div>
        </div>
      </div>
      <div class="container" style="margin-top:90px">
        <div class=" column is-10 is-offset-1">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Années</p>
                <p class="title is-1">{{ nbYears }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Équipes</p>
                <p class="title is-1">{{ nbTeams }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Caussenards</p>
                <p class="title is-1">{{ nbCaussenards }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Participations</p>
                <p class="title is-1">{{ nbParticipations }}</p>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import APIPageMixin from "@/views/APIPageMixin";

export default {
  name: "Home",
  mixins: [APIPageMixin],
  data () {
    return {
      nbYears: 0,
      nbTeams: 0,
      nbCaussenards: 0,
      nbParticipations: 0,
    };
  },
  mounted() {
    this.onRefresh();
  },
  watch: {
    refreshCounter: function() {
      this.onRefresh();
    }
  },
  methods: {

    onRefresh() {
      HTTP.get("/api/caussenards", {count: true}, 
        this.$store.state.account.token
      ).then((response) => {
        this.nbCaussenards = response.data.content;
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
      HTTP.get("/api/members", {count: true}, 
        this.$store.state.account.token
      ).then((response) => {
        this.nbParticipations = response.data.content;
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
      HTTP.get("/api/teams", {count: true}, 
        this.$store.state.account.token
      ).then((response) => {
        this.nbTeams = response.data.content;
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
      HTTP.get("/api/years", {count: true}, 
        this.$store.state.account.token
      ).then((response) => {
        this.nbYears = response.data.content;
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    },
  }
};
</script>
