<template>
  <div>
    <p>Profile</p>
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: "Profile",
  components: {},
  data () {
    return {
    };
  },
  props: {},
  methods: {
  },
  computed: {
  }
};
</script>
