<template>
  <div>
    <section class="hero is-medium is-info is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Statistiques
          </p>
          <p class="subtitle">
            Marche des Causses
          </p>
        </div>
      </div>

      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container is-max-desktop">
            <ul>
              <li id="nav-general" :class="(activePage === 'general') ? 'is-active' : ''">
                <router-link :to="{name: 'StatsHome'}" class="navbar-item">
                  <p :class="(activePage === 'general') ? 'has-text-info' : ''">Général</p>
                </router-link>
              </li>
              <li id="nav-years" :class="(activePage === 'year') ? 'is-active' : ''">
                <router-link :to="{name: 'YearStats'}" class="navbar-item">
                  <p :class="(activePage === 'year') ? 'has-text-info' : ''">Années</p>
                </router-link>
              </li>
              <li id="nav-teams" :class="(activePage === 'team') ? 'is-active' : ''">
                <router-link :to="{name: 'TeamStats'}" class="navbar-item">
                  <p :class="(activePage === 'team') ? 'has-text-info' : ''">Équipes</p>
                </router-link>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <section>
      <div id="content" class= "container mb-3">
        <div class="block m-5">
          <Notif
            :message="notif.message"
            :details="notif.details"
            :type="notif.type"
            :active="notif.active"
            v-on:delete="closeNotif()"
          />
        </div>
        <router-view/>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";
import Notif from "@/components/Notif.vue";

export default {
  name: "Stats",
  components: {
    Notif
  },
  data () {
    return {
      isActive: false,
      isExactActive: false
    };
  },
  props: {},
  methods: {
    ...mapActions("api", {
      closeNotif: "closeNotif"
    }),

    disactivate () {
      this.isActive = false;
      this.isExactActive = false;
    }
  },
  computed: {
    ...mapGetters("account", {
      isAdmin: "isAdmin",
      isVerified: "isVerified"
    }),

    ...mapState("api", {
      activePage: "activePage",
      notif: "notif"
    })
  }
};
</script>
