<template>
  <div class="container is-max-desktop py-6 p-6">
    <p class="block is-size-3"> 
      La base de données répertorie les informations concernant les <strong>Années</strong> et les <strong>Équipes</strong> créées.
    </p>
    <p class="block is-size-3"> 
      Les données sur les <strong>Caussenards</strong> ne sont accessibles que pour certains utilisateurs.
    </p>
  </div>
</template>

<script>

export default {
  name: "APIHome",
  components: {},
  mounted: function () {
    this.$store.commit("api/newActivePage", "home");
  }
};
</script>
