<template>
  <div class="constainer p-3">
    <Header title="Les Caussenards" subtitle="Les braves aventuriers qui sont partis dans les Causses"/>
    <SearchBar v-model="searchText"
      @search="refresh()"/>
    <CaussenardList endPoint="api/caussenards/"
      :pagination="true"
      :refreshCounter="refreshCounter"
      :searchText="searchText"
      v-on:refresh="refresh()"
    />
    <div class="container my-4 is-max-desktop">
      <h1 class="title is-4">
        Ajouter un Caussenard :
      </h1>
    </div>
    <CaussenardAdder
      v-on:refresh="refresh()"
    />
  </div>
</template>

<script>
import Header from "@/components/API/Header.vue";
import SearchBar from "@/components/API/SearchBar.vue";
import CaussenardList from "@/components/API/Lists/CaussenardList.vue";
import CaussenardAdder from "@/components/API/Adders/CaussenardAdder.vue";
import APIPageMixin from "@/views/APIPageMixin";

export default {
  name: "Caussenards",
  mixins: [APIPageMixin],
  components: {
    Header,
    CaussenardList,
    CaussenardAdder,
    SearchBar
  },
  data () {
    return {
      pageName: "caussenard"
    };
  }
};
</script>
