<template>
  <div class="container py-5 p-5">
    <div class="column is-10 is-offset-1 p-">
      <h2 class="title is-3">Caussenard</h2>
    </div>
    <div class="column">
      <CaussenardInfos :endPoint="'/api/caussenards/'+ id"
        :refreshCounter="refreshCounter"
      />
    </div>
    <div id="teams" class="column is-10 is-offset-1">
      <h2 class="title is-3">Liste des participations</h2>
    </div>
    <div class="column">
      <TeamList :endPoint="'/api/caussenards/' + id + '/teams/'"
        :pagination="false"
        :refreshCounter="refreshCounter"
        v-on:refresh="refresh"
      />
      <p class="">* En tant que Binôme</p>
    </div>
    <div id="teams" class="column is-10 is-offset-1">
      <h2 class="title is-3">Ajouter une Équipe :</h2>
    </div>
    <div class="column">
      <ParticipationAdder :caussenardId="id"
        v-on:refresh="refresh"
      />
    </div>
  </div>
</template>

<script>
import CaussenardInfos from "@/components/API/Infos/CaussenardInfos.vue";
import TeamList from "@/components/API/Lists/TeamList.vue";
import ParticipationAdder from "@/components/API/Adders/ParticipationAdder.vue";
import APIPageMixin from "@/views/APIPageMixin";

export default {
  name: "Caussenard",
  mixins: [APIPageMixin],
  components: {
    CaussenardInfos,
    TeamList,
    ParticipationAdder
  },
  data () {
    return {
      pageName: "caussenard"
    };
  },
  props: ["id"]
};
</script>
