<template>
  <div class="block p-3">
    <Header title="Les Équipes" subtitle="Les équipes créées tout au long des années"/>
    <SearchBar v-model="searchText"
      @search="refresh()"/>
    <TeamList endPoint="api/teams/"
      :pagination="true"
      :refreshCounter="refreshCounter"
      :searchText="searchText"
      v-on:refresh="refresh()"
    />
    <div class="container my-4 is-max-desktop"  v-if="isEditor">
      <h1 class="title is-4">
        Ajouter une Équipe :
      </h1>
    </div>
    <TeamAdder v-if="isEditor"
      v-on:refresh="refresh()"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Header from "@/components/API/Header.vue";
import SearchBar from "@/components/API/SearchBar.vue";
import TeamList from "@/components/API/Lists/TeamList.vue";
import TeamAdder from "@/components/API/Adders/TeamAdder.vue";
import APIPageMixin from "@/views/APIPageMixin";

export default {
  name: "Teams",
  mixins: [APIPageMixin],
  components: {
    Header,
    TeamList,
    TeamAdder,
    SearchBar
  },
  data () {
    return {
      pageName: "team"
    };
  },
  computed: {
    ...mapGetters("account", {
      isEditor: "isEditor"
    })
  }
};
</script>
