<template>
  <div class="container py-5 p-5">
    <div class="column is-10 is-offset-1 p-">
      <h2 class="title is-3">Équipe</h2>
    </div>
    <div class="column">
      <TeamInfos :endPoint="'/api/teams/'+ id"
        :refreshCounter="refreshCounter"/>
    </div>
    <div id="caussenard" class="column is-10 is-offset-1" v-if="isVerified">
      <h2 class="title is-3">Liste des Membres</h2>
    </div>
    <div class="column" v-if="isVerified">
      <CaussenardList :endPoint="'/api/teams/' + id + '/caussenards/'"
        :pagination="false"
        :refreshCounter="refreshCounter"
        v-on:refresh="refresh()"
      />
      <p class="is-5">* Binôme</p>
    </div>
    <div id="teams" class="column is-10 is-offset-1" v-if="isEditor">
      <h2 class="title is-3">Ajouter un Membre :</h2>
    </div>
    <div class="column" v-if="isEditor">
      <MemberAdder :teamId="id"
        v-on:refresh="refresh()"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TeamInfos from "@/components/API/Infos/TeamInfos.vue";
import CaussenardList from "@/components/API/Lists/CaussenardList.vue";
import MemberAdder from "@/components/API/Adders/MemberAdder.vue";
import APIPageMixin from "@/views/APIPageMixin";

export default {
  name: "Team",
  mixins: [APIPageMixin],
  components: {
    TeamInfos,
    CaussenardList,
    MemberAdder
  },
  data () {
    return {
      pageName: "team"
    };
  },
  props: ["id"],
  computed: {
    ...mapGetters("account", {
      isEditor: "isEditor",
      isVerified: "isVerified"
    })
  }
};
</script>
