<template>
  <div class="container py-5 p-5">
    <div class="column is-10 is-offset-1 p-">
      <h2 class="title is-3">Utilisateur</h2>
    </div>
    <div class="column">
      <UserInfos :endPoint="'/api/users/'+ id"
        v-on:refresh="refresh()">
      </UserInfos>
    </div>
  </div>
</template>

<script>
import UserInfos from "@/components/API/Infos/UserInfos.vue";
import APIPageMixin from "@/views/APIPageMixin";

export default {
  name: "User",
  mixins: [APIPageMixin],
  components: {
    UserInfos
  },
  data () {
    return {
      pageName: "user"
    };
  },
  props: ["id"]
};
</script>
