<template>
  <div class="block p-3">
    <Header title="Les Utilisateurs" subtitle="Les Utilisateurs du site internet"/>
    <SearchBar v-model="searchText"
      @search="refresh()"/>
    <UserList endPoint="api/users/"
      :pagination="true"
      :refreshCounter="refreshCounter"
      :searchText="searchText"
      v-on:refresh="refresh()"
    />
    <div class="container my-4 is-max-desktop">
      <h1 class="title is-4">
        Ajouter un Utilisateurs :
      </h1>
    </div>
    <UserAdder
      v-on:refresh="refresh()"
    />
  </div>
</template>

<script>
import Header from "@/components/API/Header.vue";
import SearchBar from "@/components/API/SearchBar.vue";
import UserList from "@/components/API/Lists/UserList.vue";
import UserAdder from "@/components/API/Adders/UserAdder.vue";
import APIPageMixin from "@/views/APIPageMixin";

export default {
  name: "Users",
  mixins: [APIPageMixin],
  components: {
    Header,
    UserList,
    UserAdder,
    SearchBar
  },
  data () {
    return {
      pageName: "user"
    };
  }
};
</script>
