<template>
  <div class="container py-5 p-5">
    <div class="column is-10 is-offset-1">
      <h2 class="title is-3">Année</h2>
    </div>
    <div class="column">
      <YearInfos :endPoint="'/api/years/'+ id"
        :refreshCounter="refreshCounter">
      </YearInfos>
    </div>
    <div id="teams" class="column is-10 is-offset-1">
      <h2 class="title is-3">Liste des équipes</h2>
    </div>
    <div class="column">
      <TeamList :endPoint="'/api/years/' + id + '/teams/'"
        :pagination="false"
        :refreshCounter="refreshCounter"
        v-on:refresh="refresh()"
      />
    </div>
    <div id="caussenards" class="column is-10 is-offset-1" v-if="isVerified">
      <h2 class="title is-3">Liste des participants</h2>
    </div>
    <div class="column" v-if="isVerified">
      <CaussenardList :endPoint="'/api/years/' + id + '/caussenards/'" :pagination="true"
        :refreshCounter="refreshCounter"
        v-on:refresh="refresh()"/>
      <p class="">* Binôme</p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import YearInfos from "@/components/API/Infos/YearInfos.vue";
import TeamList from "@/components/API/Lists/TeamList.vue";
import CaussenardList from "@/components/API/Lists/CaussenardList.vue";
import APIPageMixin from "@/views/APIPageMixin";

export default {
  name: "Year",
  mixins: [APIPageMixin],
  components: {
    YearInfos,
    TeamList,
    CaussenardList
  },
  data () {
    return {
      pageName: "year"
    };
  },
  props: ["id"],
  computed: {
    ...mapGetters("account", {
      isVerified: "isVerified"
    })
  }
};
</script>
