<template>
  <div class="block p-3">
    <Header title="Les Années" subtitle="Les années où la Marche des Causses a eu lieu"/>
    <SearchBar v-model="searchText"
      @search="refresh()"/>
    <YearList endPoint="api/years/"
      :pagination="false"
      :refreshCounter="refreshCounter"
      :searchText="searchText"
      v-on:refresh="refresh()"
    />
    <div class="container my-4 is-max-desktop" v-if="isEditor">
      <h1 class="title is-4">
        Ajouter une Année :
      </h1>
    </div>
    <YearAdder v-if="isEditor"
      v-on:refresh="refresh()"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Header from "@/components/API/Header.vue";
import SearchBar from "@/components/API/SearchBar.vue";
import YearList from "@/components/API/Lists/YearList.vue";
import YearAdder from "@/components/API/Adders/YearAdder.vue";
import APIPageMixin from "@/views/APIPageMixin";

export default {
  name: "Years",
  mixins: [APIPageMixin],
  components: {
    Header,
    YearList,
    YearAdder,
    SearchBar
  },
  data () {
    return {
      pageName: "year"
    };
  },
  computed: {
    ...mapGetters("account", {
      isEditor: "isEditor"
    })
  }
};
</script>
