<template>
  <div class="container py-5 p-5">
    <div class="level">
      <div class="level-left mx-1">
        <p class="title is-5">De </p>
      </div>
      <div class="level-left mx-1">
        <div class="control has-icons-left">
          <div class="select">
            <select v-model="startDate" @change="refresh">
              <option v-for="year in yearList" :value="year" :key="year"
                  :disabled="year>=endDate">
                {{ year }}
              </option>
            </select>
          </div>
          <span class="icon is-small is-left">
            <i class="fas fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="level-left mx-1">
        <p class="title is-5">À </p>
      </div>
      <div class="level-left mx-1">
        <div class="control has-icons-left">
          <div class="select">
            <select v-model="endDate" @change="refresh">
              <option v-for="year in yearList" :value="year" :key="year"
                  :disabled="year<=startDate">
                {{ year }}
              </option>
            </select>
          </div>
          <span class="icon is-small is-left">
            <i class="fas fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="level-item mx-1">
      </div>
    </div>
    <div id="caussenard" class="column is-10 is-offset-1 mt-6 mb-3 has-text-centered">
      <h2 class="title is-2">Les Caussenards</h2>
    </div>
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-3 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title is-4"> Nombre de participations à la Marche des Causses</p>
          <p class="title is-1">{{ nbParticipations }}</p>
        </div>
        <div class="tile is-child box">
          <p class="title is-4"> Nombre de Caussenards partis dans les Causses</p>
          <p class="title is-1">{{ nbCaussenards }}</p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title is-4"> Nombre de Caussenards par année</p>
          <CaussenardsPerYear :refreshCounter="refreshCounter"
            :startDate="startDate" :endDate="endDate" />
        </div>
      </div>
    </div>
    <div id="teams" class="column is-10 is-offset-1 mt-6 mb-3 has-text-centered">
      <h2 class="title is-2">Les Équipes</h2>
    </div>
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-3 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title is-4"> Nombre d'équipes formés pour les Causses</p>
          <p class="title is-1">{{ nbTeams }}</p>
        </div>
        <div class="tile is-child box">
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title is-4"> Nombre d'Équipes par année</p>
          <TeamsPerYear :refreshCounter="refreshCounter"
            :startDate="startDate" :endDate="endDate" />
        </div>
      </div>
    </div>
    <div id="age" class="column is-10 is-offset-1 mt-6 mb-3 has-text-centered">
      <h2 class="title is-2">L'âge des Caussenards</h2>
    </div>
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-5 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title is-4">Répartition de l'âge des Caussenards</p>
          <AgeDistribution :refreshCounter="refreshCounter" />
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title is-4">Moyenne d'âge par année</p>
          <AgePerYear :refreshCounter="refreshCounter"
            :startDate="startDate" :endDate="endDate" />
        </div>
      </div>
    </div>
    <div id="gender" class="column is-10 is-offset-1 mt-6 mb-3 has-text-centered">
      <h2 class="title is-2">Répartition Homme/Femme</h2>
    </div>
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title is-4">Répartition totale</p>
          <GenderDistribution :refreshCounter="refreshCounter" />
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title is-4">Répartition par année</p>
          <GenderPerYear :refreshCounter="refreshCounter"
            :startDate="startDate" :endDate="endDate" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import APIPageMixin from "@/views/APIPageMixin";
import CaussenardsPerYear from "@/components/Stats/CaussenardsPerYear";
import TeamsPerYear from "@/components/Stats/TeamsPerYear";
import AgePerYear from "@/components/Stats/AgePerYear";
import GenderPerYear from "@/components/Stats/GenderPerYear";
import GenderDistribution from "@/components/Stats/GenderDistribution";
import AgeDistribution from "@/components/Stats/AgeDistribution";

export default {
  name: "StatsHome",
  mixins: [APIPageMixin],
  components: {
    CaussenardsPerYear,
    TeamsPerYear,
    AgePerYear,
    GenderPerYear,
    GenderDistribution,
    AgeDistribution
  },
  data () {
    return {
      pageName: "general",

      nbCaussenards: "",
      nbParticipations: "",
      nbTeams: "",

      yearList: new Array(),
      startDate: 1976,
      endDate: new Date().getFullYear()
    };
  },
  mounted() {
    this.onRefresh();
  },
  created() {
    for (let k = 1976; k <= new Date().getFullYear(); k++) {
      this.yearList.push(k);
    }
  },
  watch: {
    refreshCounter: function() {
      this.onRefresh();
    }
  },
  methods: {
    onRefresh() {
      HTTP.get("/stats/years/count/caussenards", {start: this.startDate, end: this.endDate}, 
        this.$store.state.account.token, 20000
      ).then((response) => {
        this.nbCaussenards = response.data.content.count;
        this.$store.dispatch("api/closeNotif");
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
      HTTP.get("/stats/years/count/participations", {start: this.startDate, end: this.endDate}, 
        this.$store.state.account.token, 20000
      ).then((response) => {
        this.nbParticipations = response.data.content.count;
        this.$store.dispatch("api/closeNotif");
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
      HTTP.get("/stats/years/count/teams", {start: this.startDate, end: this.endDate}, 
        this.$store.state.account.token, 20000
      ).then((response) => {
        this.nbTeams = response.data.content;
        this.$store.dispatch("api/closeNotif");
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    },
  }
};
</script>
