<template>
  <div id="stats" class="container py-5 p-5">
    <div class="level">
      <div class="level-item">
        <div class="columns is-desktop is-vcentered">
          <div class="column is-6 has-text-centered">
            <h1 class="title is-4">Sélectionnez une Année :</h1>
          </div>
          <div class="column is-6 has-text-left">
            <YearSelector 
              v-model="yearId">
            </YearSelector>
          </div>
        </div>
      </div>
    </div>
    <div class="level">
      <div class="level-item">
        <div class="columns mb-6 is-vcentered">
          <div class="column is-6 has-text-centered">
            <h1 class="title is-4">Sélectionnez une Équipe:</h1>
          </div>
          <div class="column is-6 has-text-left">
            <TeamSelector
              v-model="teamId"
              :yearId="yearId">
            </TeamSelector>
          </div>
        </div>
      </div>
    </div>
    <div v-if="teamId != null && yearId != null">
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-6 is-vertical is-parent">
          <div class="tile is-child box">
            <p class="title is-4">Répartition de l'âge</p>
            <AgeDistribution 
              :refreshCounter="refreshCounter"
              :endPoint="endPoint">
            </AgeDistribution>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title is-4">Répartition Homme/Femme</p>
            <GenderDistribution 
              :refreshCounter="refreshCounter"
              :endPoint="endPoint">
            </GenderDistribution>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HTTP from "@/http-common";
import APIPageMixin from "@/views/APIPageMixin";
import TeamSelector from "@/components/Input/Select/Team.vue";
import YearSelector from "@/components/Input/Select/Year.vue";
import GenderDistribution from "@/components/Stats/GenderDistribution";
import AgeDistribution from "@/components/Stats/AgeDistribution";

export default {
  name: "TeamStats",
  mixins: [APIPageMixin],
  components: {
    YearSelector,
    TeamSelector,
    GenderDistribution,
    AgeDistribution
  },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      pageName: "team",
      teamId: this.id,
      yearId: null
    };
  },
  mounted() {
    if (this.id != null) {
      this.getYearId();
    }
  },
  methods: {
    getYearId() {
      HTTP.get(this.endPoint, 
        null, this.$store.state.account.token
      ).then((response) => {
        this.yearId = response.data.content.yearId;
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    },
  },
  watch: {
    yearId: function() {
      this.refresh();
    },
    teamId: function() {
      this.refresh();
    },
    id: function(newVal) {
      this.teamId = newVal;
      this.getElement();
    }
  },
  computed: {
    endPoint: function() {
      return "/stats/teams/" + this.teamId + "/";
    }
  }
};
</script>
