<template>
  <div id="stats" class="container py-5 p-5">
    <div class="level">
      <div class="level-item">
        <div class="columns mb-6 is-vcentered">
          <div class="column has-text-centered">
            <h1 class="title is-4">Sélectionnez une Année :</h1>
          </div>
          <div class="column">
            <YearSelector 
              v-model="yearId">
            </YearSelector>
          </div>
        </div>
      </div>
    </div>
    <div v-if="yearId != null">
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-6 is-vertical is-parent">
          <div class="tile is-child box">
            <p class="title is-4">Répartition de l'âge</p>
            <AgeDistribution 
              :refreshCounter="refreshCounter"
              :endPoint="endPoint">
            </AgeDistribution>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title is-4">Répartition Homme/Femme</p>
            <GenderDistribution 
              :refreshCounter="refreshCounter"
              :endPoint="endPoint">
            </GenderDistribution>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import APIPageMixin from "@/views/APIPageMixin";
import YearSelector from "@/components/Input/Select/Year.vue";
import GenderDistribution from "@/components/Stats/GenderDistribution";
import AgeDistribution from "@/components/Stats/AgeDistribution";

export default {
  name: "YearStats",
  mixins: [APIPageMixin],
  components: {
    YearSelector,
    GenderDistribution,
    AgeDistribution
  },
  props: {
    id: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      pageName: "year",
      yearId: this.id
    };
  },
  watch: {
    yearId: function() {
      this.refresh();
    },
    id: function(newVal) {
      this.yearId = newVal;
    },
  },
  computed: {
    endPoint: function() {
      return "/stats/years/" + this.yearId + "/";
    }
  }
};
</script>
