<template>
  <div class="card">
    <div class="card-content">
      <div class="level" v-if="loading">
        <progress class="progress is-medium is-info"></progress>
      </div>
      <div class="level" v-else>
        <div class="level-left">
          <article class="media">
            <figure class="media-left is-hidden-mobile">
              <p class="image is-128x128">
                <img src="@/assets/profil.png" alt="Placeholder image">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  Nom : <strong>{{elementContent.lastname}}</strong>
                </p>
                <p>
                  Prénom : <strong>{{elementContent.firstname}}</strong>
                </p>
                <p>
                  Genre : <strong>{{ genre }}</strong>
                </p>
                <p>
                  Age : <strong>{{ age }}</strong>
                </p>
                <p v-if="nbParticip">
                  <router-link :to="{hash: '#teams'}">
                    <p  class="has-text-black">
                      Nombre de participations : <strong>{{nbParticip}}</strong>
                    </p>
                  </router-link>
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="level-right">
          <div v-if="isEditor">
            <div class="buttons has-addons">
              <button class="button is-success" @click="askUpdate = true">
                <span class="icon is-small has-text_wight">
                  <i class="fas fa-edit"></i>
                </span>
              </button>
              <button class="button is-danger" @click="askDelete = true" v-if="isManager">
                <span class="icon is-small has-text_wight">
                  <i class="fas fa-trash"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ValidPopUp
      :active="askDelete"
      title="Supprimer ?"
      :content="'Voulez-vous supprimer le caussenard ' +
                elementContent.firstname + ' ' +
                elementContent.lastname + ' ?'"
      action='Supprimer'
      v-on:valid="deleteElement();askDelete = false"
      v-on:cancel="askDelete = false"
    />
    <CaussenardUpdate
      :active="askUpdate"
      :id="elementContent.id"
      :firstname="elementContent.firstname"
      :lastname="elementContent.lastname"
      :dateOfBirth="elementContent.birth"
      :gender="elementContent.gender"
      v-on:close="askUpdate = false"
      v-on:modified="onRefresh"
    />
  </div>
</template>

<script>
import { calculateAge } from "@/utils/date";
import ValidPopUp from "@/components/PopUp/ValidPopUp";
import CaussenardUpdate from "@/components/PopUp/CaussenardUpdate";
import InfosMixin from "@/components/API/Infos/InfosMixin";
import APIElementMixin from "@/components/API/APIElementMixin";

export default {
  name: "CaussenardInfos",
  mixins: [InfosMixin, APIElementMixin],
  components: {
    ValidPopUp,
    CaussenardUpdate
  },
  data () {
    return {
      deleteRedirect: "CaussenardList"
    };
  },
  computed: {
    // Content
    nbParticip: function () {
      if (this.elementContent.teams !== undefined) {
        return this.elementContent.teams.length;
      } else {
        return 0;
      }
    },

    genre: function () {
      switch (this.elementContent.gender) {
      case 1 :
        return "Homme";
      case 2 :
        return "Femme";
      default :
        return "Inconnu";
      }
    },

    age: function () {
      if (this.elementContent.birth) {
        return calculateAge(new Date(this.elementContent.birth));
      } else {
        return null;
      }
    }
  }
};
</script>
