<template>
  <div class="card">
    <div class="card-content">
      <div class="level" v-if="loading">
        <progress class="progress is-medium is-info"></progress>
      </div>
      <div class="level" v-else>
        <div class="level-left">
          <article class="media">
            <figure class="media-left is-hidden-mobile">
              <p class="image is-128x128">
                <img src="@/assets/team.gif" alt="Placeholder image">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  Nom : <strong>{{elementContent.name}}</strong>
                </p>
                <p>
                  <router-link :to="{name: 'Year', params: {id: yearId}}">
                    <p class="has-text-black">
                      Année : <strong>{{ yearNumber }}</strong>
                    </p>
                  </router-link>
                </p>
                <p>
                  <router-link :to="{hash: '#caussenard'}" v-if="nbMembers">
                    <p  class="has-text-black">
                      Nombre de membres : <strong>{{nbMembers}}</strong>
                    </p>
                  </router-link>
                </p>
                <p>
                  <router-link :to="{name: 'TeamStats', hash: '#stats', query: {id: elementContent.id}}">
                    <p>
                      <strong>Statistiques</strong>
                    </p>
                  </router-link>
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="level-right">
          <div v-if="isEditor">
            <div class="buttons has-addons">
              <button class="button is-success" @click="askUpdate = true">
                <span class="icon is-small has-text_wight">
                  <i class="fas fa-edit"></i>
                </span>
              </button>
              <button class="button is-danger" @click="askDelete = true" v-if="isManager">
                <span class="icon is-small has-text_wight">
                  <i class="fas fa-trash"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ValidPopUp
      :active="askDelete"
      title="Supprimer ?"
      :content="'Voulez-vous supprimer l\'équipe n° ' +
                elementContent.numero + ' de l\'année ' +
                elementContent.yearNumber + ' ?'"
      action='Supprimer'
      v-on:valid="deleteElement();askDelete = false"
      v-on:cancel="askDelete = false"
    />
    <TeamUpdate
      :active="askUpdate"
      :id="elementContent.id"
      :yearId="yearId"
      :number="elementContent.number"
      :name="elementContent.name"
      v-on:close="askUpdate = false"
      v-on:modified="onRefresh"
    />
  </div>
</template>

<script>
import InfosMixin from "@/components/API/Infos/InfosMixin";
import APIElementMixin from "@/components/API/APIElementMixin";
import ValidPopUp from "@/components/PopUp/ValidPopUp";
import TeamUpdate from "@/components/PopUp/TeamUpdate";

export default {
  name: "TeamInfos",
  mixins: [InfosMixin, APIElementMixin],
  components: {
    ValidPopUp,
    TeamUpdate
  },
  data () {
    return {
      deleteRedirect: "TeamList"
    };
  },
  computed: {
    // Content
    nbMembers: function () {
      if (this.elementContent.members) {
        return this.elementContent.members.length;
      } else {
        return 0;
      }
    },
    yearNumber: function () {
      if (this.elementContent.year) {
        return this.elementContent.year.number;
      } else {
        return "";
      }
    },
    yearId: function () {
      if (this.elementContent.year) {
        return this.elementContent.year.id;
      } else {
        return "";
      }
    }
  }
};
</script>
