<template>
  <div class="card">
    <div class="card-content">
      <div class="level" v-if="loading">
        <progress class="progress is-medium is-info"></progress>
      </div>
      <div class="level" v-else>
        <div class="level-left">
          <article class="media">
            <figure class="media-left is-hidden-mobile">
              <p class="image is-128x128">
                <img src="@/assets/profil.png" alt="Placeholder image">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  Email : <strong>{{elementContent.email}}</strong>
                </p>
                <p>
                  Niveau d'autentification : <strong>{{elementContent.authLevel}}</strong>
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="level-right">
          <div v-if="isEditor">
            <div class="buttons has-addons">
              <button class="button is-success" @click="askUpdate = true">
                <span class="icon is-small has-text_wight">
                  <i class="fas fa-edit"></i>
                </span>
              </button>
              <button class="button is-danger" @click="askDelete = true" v-if="isManager">
                <span class="icon is-small has-text_wight">
                  <i class="fas fa-trash"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ValidPopUp
      :active="askDelete"
      title="Supprimer ?"
      :content="'Voulez-vous supprimer l\'utilisateur ' +
                elementContent.email + ' ?'"
      action='Supprimer'
      v-on:valid="deleteElement();askDelete = false"
      v-on:cancel="askDelete = false"
    />
    <UserUpdate
      :active="askUpdate"
      :id="elementContent.id"
      :email="elementContent.email"
      :authLevel="elementContent.authLevel"
      v-on:close="askUpdate = false"
      v-on:modified="onRefresh"
    />
  </div>
</template>

<script>
import InfosMixin from "@/components/API/Infos/InfosMixin";
import APIElementMixin from "@/components/API/APIElementMixin";
import ValidPopUp from "@/components/PopUp/ValidPopUp";
import UserUpdate from "@/components/PopUp/UserUpdate";

export default {
  name: "UserInfos",
  mixins: [InfosMixin, APIElementMixin],
  components: {
    ValidPopUp,
    UserUpdate
  },
  data () {
    return {
      deleteRedirect: "UserList"
    };
  }
};
</script>
