<template>
  <div class="card">
    <div class="card-content">
      <div class="level" v-if="loading">
        <progress class="progress is-medium is-info"></progress>
      </div>
      <div class="level" v-else>
        <div class="level-left">
          <article class="media">
            <figure class="media-left is-hidden-mobile">
              <p class="image is-128x128">
                <img src="@/assets/team.gif" alt="Placeholder image">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  Année : <strong>{{elementContent.number}}</strong>
                </p>
                <p>
                  Thème : <strong>{{elementContent.theme}}</strong>
                </p>
                <p v-if="nbTeam">
                  <router-link :to="{hash: '#teams'}">
                    <p class="has-text-black">
                      Nombre d'équipes : <strong>{{nbTeam}}</strong>
                    </p>
                  </router-link>
                </p>
                <p v-if="nbPerson">
                  <router-link :to="{hash: '#caussenards'}">
                    <p class="has-text-black">
                      Nombre de participants : <strong>{{nbPerson}}</strong>
                    </p>
                  </router-link>
                </p>
                <p>
                  <router-link :to="{name: 'YearStats', hash: '#stats', query: {id: elementContent.id}}">
                    <p>
                      <strong>Statistiques</strong>
                    </p>
                  </router-link>
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="level-right">
          <div v-if="isEditor">
            <div class="buttons has-addons">
              <button class="button is-success" @click="askUpdate = true">
                <span class="icon is-small has-text_wight">
                  <i class="fas fa-edit"></i>
                </span>
              </button>
              <button class="button is-danger" @click="askDelete = true" v-if="isManager">
                <span class="icon is-small has-text_wight">
                  <i class="fas fa-trash"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ValidPopUp
      :active="askDelete"
      title="Supprimer ?"
      :content="'Voulez-vous supprimer l\'année ' +
                elementContent.number + ' ?'"
      action='Supprimer'
      v-on:valid="deleteElement();askDelete = false"
      v-on:cancel="askDelete = false">
    </ValidPopUp>
    <YearUpdate
      :active="askUpdate"
      :id="elementContent.id"
      :number="elementContent.number"
      :theme="elementContent.theme"
      v-on:close="askUpdate = false"
      v-on:modified="onRefresh"
    />
  </div>
</template>

<script>
import InfosMixin from "@/components/API/Infos/InfosMixin";
import APIElementMixin from "@/components/API/APIElementMixin";
import ValidPopUp from "@/components/PopUp/ValidPopUp";
import YearUpdate from "@/components/PopUp/YearUpdate";

export default {
  name: "YearInfos",
  mixins: [InfosMixin, APIElementMixin],
  components: {
    ValidPopUp,
    YearUpdate
  },
  computed: {
    // Content
    nbTeam: function () {
      if (this.elementContent.teams) {
        return this.elementContent.teams.length;
      } else {
        return 0;
      }
    },
    nbPerson: function () {
      let number = 0;
      if (this.elementContent.teams) {
        this.elementContent.teams.forEach(element => {
          number += element.members.length;
        });
      }
      return number;
    }

  }
};
</script>
