<template>
  <div>
  </div>
</template>

<script>

export default {
  name: "Example",
  components: {},
  data () {
    return {
    };
  },
  props: {},
  methods: {
  },
  computed: {
  }
};
</script>
