<template>
  <div>
    <progress class="progress is-medium is-info" v-if="loading1"></progress>
    <div class="media" v-else-if="projectInfos != null">
      <div class="media-left">
        <figure class="image is-64x64">
          <img :src="projectInfos.avatar_url + '?width=64'" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <a :href="projectInfos.web_url">
          <div class="block">
            <p class="title is-4"> {{projectInfos.name}} </p>
            <p class="subtitle is-6"> Project ID: {{projectInfos.id}} </p>
          </div>
        </a>
      </div>
      <div class="media-right">
        <div class="tags has-addons mb-1">
          <span class="tag is-white-bis">
            <span class="icon">
              <i class="fas fa-star"></i>
            </span>
            <p>Star</p>
          </span>
          <span class="tag is-grey-light">
            {{projectInfos.star_count}}
          </span>
        </div>
        <div class="tags has-addons">
          <span class="tag is-white-bis">
            <span class="icon">
              <i class="fas fa-code-branch"></i>
            </span>
            <p>Fork</p>
          </span>
          <span class="tag is-grey-light">
            {{(projectInfos.fork_count) ? projectInfos.fork_count : "0"}}
          </span>
        </div>
      </div>
    </div>
    <progress class="progress is-medium is-info" v-if="loading2"></progress>
    <div class="content mt-2" v-else>
      <div>
        <img v-for="badge in projectBadges" :key="badge.id"
          class="project-badge pr-1" :src="badge.rendered_image_url">
      </div>
      <p  v-if="projectInfos != null"> <strong>Description:</strong> <i>{{projectInfos.description}} </i> </p>
      <i  v-if="projectInfos != null"> Dernière mise à jour:<time :datetime="projectInfos.last_activity_at"> {{lastUpdate}} </time> </i>
    </div>
  </div>
</template>

<script>
import HTTP from "@/gitlabAPI.js";

export default {
  name: "GitlabInfos",
  data () {
    return {
      loading1: false,
      loading2: false,
      projectInfos: null,
      projectBadges: [],
      lastUpdate: ""
    };
  },
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  mounted() {
    this.getProject();
  },
  watch: {
    projectInfos: function(newVal) {
      if (newVal != null) {
        this.lastUpdate = (new Date(newVal.last_activity_at)).toLocaleTimeString("fr-FR", 
          { weekday: "long", year: "numeric", month: "long", day: "numeric" });
      }
    }
  },
  methods: {
    getProject() {
      this.loading1 = true;
      this.loading2 = true;
      HTTP.get("projects/" + this.id, null, null)
        .then((response) => {
          this.projectInfos = response.data;
          this.loading1 = false;
        })
        .catch((error) => {
          this.$store.dispatch("api/displayError", error);
        });

      HTTP.get("projects/" + this.id + "/badges", null, null)
        .then((response) => {
          this.projectBadges = response.data;
          this.loading2 = false;
        })
        .catch((error) => {
          this.$store.dispatch("api/displayError", error);
        });
    }
  },
};
</script>
