<template>
  <nav class="bd-navbar navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">

        <router-link class="navbar-item py-0"  :to="{name: 'Home'}">
          <img src="@/assets/logoMDC2.png" height="100%">
        </router-link>

        <a role="button" class="navbar-burger burger"
          :class="(burgerActive) ? 'is-active' : ''"
          aria-label="menu" aria-expanded="false"
          data-target="navMenu" @click="clickOnBurger" >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navMenu" class="navbar-menu" :class="(burgerActive) ? 'is-active' : ''"
        @click="closeBurger">
        <div class="navbar-start">
          <router-link :to="{name: 'Home'}" class="navbar-item">
            <span class="icon is-small has-text-yellow1MDC">
              <i class="fas fa-home"></i>
            </span>
            <span class="mx-2">Accueil</span>
          </router-link>

          <div class="navbar-item has-dropdown is-hoverable"
            @mouseout="APIDropdown = false" @mouseover="APIDropdown = true"
            @click="APIDropdown = false" >
            <router-link :to="{name: 'APIHome'}" class="navbar-item" >
              <span class="icon is-small has-text-yellow2MDC">
                <i class="fas fa-database"></i>
              </span>
              <span class="mx-2"> Base de Données </span>
            </router-link>
            <div class="navbar-dropdown"
              :style="{display: (burgerActive || APIDropdown) ? 'block' : 'none'}">
              <router-link :to="{name: 'YearList'}" class="navbar-item"  >
                Années
              </router-link>
              <router-link :to="{name: 'TeamList'}" class="navbar-item" >
                Équipes
              </router-link>
              <router-link :to="{name: 'CaussenardList'}" class="navbar-item" v-if="isVerified">
                Caussenards
              </router-link>
              <router-link :to="{name: 'UserList'}" class="navbar-item" v-if="isAdmin">
                Utilisateurs
              </router-link>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable"
            @mouseout="StatsDropdown = false" @mouseover="StatsDropdown = true"
            @click="StatsDropdown = false" >
            <router-link :to="{name: 'StatsHome'}" class="navbar-item" >
              <span class="icon is-small has-text-yellow3MDC">
                <i class="fas fa-chart-area"></i>
              </span>
              <span class="mx-2"> Statistiques </span>
            </router-link>
            <div class="navbar-dropdown"
              :style="{display: (burgerActive || StatsDropdown) ? 'block' : 'none'}">
              <router-link :to="{name: 'YearStats'}" class="navbar-item" >
                Années
              </router-link>
              <router-link :to="{name: 'TeamStats'}" class="navbar-item" >
                Équipes
              </router-link>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable"
            @mouseout="TeamMakerDropdown = false" @mouseover="TeamMakerDropdown = true"
            @click="TeamMakerDropdown = false" v-if="isAdmin" >
            <router-link :to="{name: 'TeamMakerNew'}" class="navbar-item" >
              <span class="icon is-small has-text-yellow2MDC">
                <i class="fas fa-cogs"></i>
              </span>
              <span class="mx-2"> Création de Binômes </span>
            </router-link>
            <div class="navbar-dropdown"
              :style="{display: (burgerActive || TeamMakerDropdown) ? 'block' : 'none'}">
              <router-link :to="{name: 'TeamMakerNew'}" class="navbar-item" >
                Nouveau
              </router-link>
              <router-link :to="{name: 'TeamMakerHistoric'}" class="navbar-item" >
                Historique
              </router-link>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable"
            @mouseout="PlusDropdown = false" @mouseover="PlusDropdown = true"
            @click="PlusDropdown = false" >
            <a class="navbar-link">
              Plus
            </a>
            <div class="navbar-dropdown"
              :style="{display: (burgerActive || PlusDropdown) ? 'block' : 'none'}">
              <router-link :to="{name: 'About'}" class="navbar-item" >
                A propos
              </router-link>
              <router-link :to="{name: 'Advanced'}" class="navbar-item" v-if="isAdmin">
                Options Avancées
              </router-link>
              <router-link :to="{name: 'APIDoc'}" class="navbar-item" >
                Documentation de l'API
              </router-link>
              <router-link :to="{name: 'Contact'}" class="navbar-item" >
                Contact
              </router-link>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item" v-if="(!isLogged)">
            <div class="buttons">
              <a class="button is-link" @click="askRegister">
                <strong>Inscription</strong>
              </a>
              <button class="button is-light" @click="askLogin">
                Connexion
              </button>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable"  v-if="(isLogged)">
            <a class="navbar-link">
              <p class="pr-3">
                {{ email }}
              </p>
              <figure class="image is-32x32">
                <img class="is-rounded" src="@/assets/profil.png" alt="Placeholder image">
              </figure>
            </a>

            <div class="navbar-dropdown is-right ">
              <router-link :to="{name: 'ProfilInfos'}" class="navbar-item" >
                Profil
              </router-link>
              <hr class="navbar-divider">
              <a class="navbar-item has-button" @click="disconnect($router)">
                Déconnexion
              </a>
            </div>
          </div>
        </div>
      </div>
      <Login
        :active="openLogin"
        v-on:close="openLogin = false"
      />
      <Register
        :active="openRegister"
        v-on:close="openRegister = false"
      />
    </div>
  </nav>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import Login from "@/components/PopUp/Login.vue";
import Register from "@/components/PopUp/Register.vue";

export default {
  name: "NavBar",
  components: {
    Login,
    Register
  },
  data () {
    return {
      burgerActive: false,
      isActive: false,
      isExactActive: false,

      APIDropdown: false,
      StatsDropdown: false,
      TeamMakerDropdown: false,
      PlusDropdown: false,

      openLogin: false,
      openRegister: false
    };
  },
  methods: {
    askLogin () {
      if (!this.isLogged) {
        this.openLogin = true;
      }
    },

    askRegister () {
      if (!this.isLogged) {
        this.openRegister = true;
      }
    },

    ...mapActions("account", {
      disconnect: "disconnect"
    }),

    clickOnBurger () {
      this.burgerActive = !(this.burgerActive);
    },

    closeBurger () {
      this.burgerActive = false;
    },

    disactivate () {
      this.isActive = false;
      this.isExactActive = false;
    }
  },
  computed: {
    ...mapState("account", {
      email: "email"
    }),

    ...mapGetters("account", {
      isLogged: "isLogged",
      isAdmin: "isAdmin",
      isVerified: "isVerified"
    })
  }
};
</script>
