<template>
  <article class="message" :class="'is-'+type" v-if="(active)">
    <div class="message-body">
      <div class='level'>
        <div class='level-left'>
          <div class="column is-marginless is-paddingless">
            <div class="level is-marginless is-paddingless">
              <p class="level-left">
                {{ message }}
              <a class="level-left" @click="showHideDetails" v-if="detailsMessage != ''">
                <span ref="detailsIcon" class="icon" >
                  <i class="fas fa-angle-down"></i>
                </span>
              </a>
              </p>
            </div>
            <p class="level ml-5 is-italic is-size-7" v-if="detailsActive">
              Détails: {{ detailsMessage }}
            </p>
          </div>
        </div>
        <div class='level-right'>
          <button class="delete" @click="$emit('delete')"></button>
        </div>
      </div>
    </div>
  </article>
</template>

<script>

export default {
  name: "Notif",
  emits: ["delete"],
  props: {
    active: {
      type: Boolean,
      default: false
    },
    message: {
      type: String,
      default: ""
    },
    details: {
      type: String,
      default: ""
    },
    type: {
      type: String,
      default: "danger"
    }
  },
  data () {
    return {
      detailsOpen: false
    };
  },
  methods: {
    showHideDetails () {
      this.detailsOpen = !(this.detailsOpen);
      this.changeIcon();
    },
    changeIcon () {
      if (this.$refs.detailsIcon) {
        this.$refs.detailsIcon.innerHTML = "<i class=\"fas fa-angle-" +
              ((this.detailsActive) ? "up" : "down") + "\">";
      }
    }
  },
  updated: function () {
    this.changeIcon();
  },
  computed: {
    detailsActive () {
      return (this.detailsMessage !== "" && this.detailsOpen);
    },
    detailsMessage () {
      return (this.details == null || this.details === "") ? "" : this.details.charAt(0).toUpperCase() + this.details.slice(1);
    }
  }
};
</script>
