<template>
  <section class="hero is-large">
    <div class="hero-body has-text-centered">
      <h1 class="title is-1">{{ msg }}</h1>
    </div>
  </section>
</template>

<script>
export default {
  name: "PageNotFound",
  data () {
    return {
      msg: "Error 404 : Pag not Found"
    };
  }
};
</script>
