
// Customizations Here (Optional)

$orangeMDC: #ec8923;
$blueMDC: #1562ac;
$blue2MDC: #2988e0;
$yellow1MDC: #f0bd00;
$yellow2MDC: #eda900;
$yellow3MDC: #ea8c00;

$link: $blueMDC;
$info: $blue2MDC;
$primary: $orangeMDC;

// Bulma Import
@import 'bulma';
@import '~bulma-extensions';