<template>
  <div class="box is-desktop">
    <article class="level has-text-centered">
      <div class="level-left mx-1 column is-3 is-paddingless">
        <FirstName v-model="firstname "/>
      </div>
      <div class="level-left mx-1 column is-3 is-paddingless">
        <LastName v-model="lastname" />
      </div>
      <div class="level-left mx-1 column is-paddingless">
        <Date v-model="dateOfBirth" />
      </div>
      <div class="level-left mx-1 column is-2 is-paddingless">
        <Gender v-model="gender"/>
      </div>
      <div class="level-item">
      </div>
      <div class="level-right">
          <button class="button" @click="add()">Ajouter</button>
      </div>
    </article>
    <Notif
      :message="notifMessage"
      :details="notifDetails"
      :type="notifType"
      :active="notifDisplay"
      v-on:delete="closeNotif()"
    />
  </div>
</template>

<script>
import HTTP from "@/http-common";
import Notif from "@/components/Notif.vue";
import AdderMixin from "@/components/API/Adders/AdderMixin.js";
import APIElementMixin from "@/components/API/APIElementMixin";
import FirstName from "@/components/Input/Text/FirstName.vue";
import LastName from "@/components/Input/Text/LastName.vue";
import Date from "@/components/Input/Date/Date.vue";
import Gender from "@/components/Input/RadioCheckbox/Gender.vue";

export default {
  name: "CaussenardAdder",
  mixins: [AdderMixin, APIElementMixin],
  components: {
    Notif,
    FirstName,
    LastName,
    Date,
    Gender
  },
  data () {
    return {
      firstname: "",
      lastname: "",
      dateOfBirth: null,
      gender: null
    };
  },
  methods: {
    add () {
      HTTP.post("api/caussenards/", null, {
        firstname: this.firstname,
        lastname: this.lastname,
        birth: this.dateOfBirth,
        gender: this.gender
      },
      this.$store.state.account.token
      ).then(() => { this.success(); }
      ).catch((err) => this.error(err));
    },
    clearForm () {
      this.firstname = "";
      this.lastname = "";
      this.dateOfBirth = null;
      this.gender = null;
    }
  }
};
</script>

<style>
</style>
