<template>
  <div class="box">
    <article class="level has-text-centered">
      <div class="level-left mx-1">
        <Year v-model="yearId"/>
      </div>
      <div class="level-left mx-1">
        <Team v-model="teamId" :yearId="yearId"/>
      </div>
      <div class="level-left mx-1">
        <Leader v-model="leader"/>
      </div>
      <div class="level-item">
      </div>
      <div class="level-right">
          <button class="button" @click="link()">Ajouter</button>
      </div>
    </article>
    <Notif
      :message="notifMessage"
      :details="notifDetails"
      :type="notifType"
      :active="notifDisplay"
      v-on:delete="closeNotif()"
    />
  </div>
</template>

<script>
import HTTP from "@/http-common";
import Notif from "@/components/Notif.vue";
import AdderMixin from "@/components/API/Adders/AdderMixin.js";
import APIElementMixin from "@/components/API/APIElementMixin";
import Team from "@/components/Input/Select/Team.vue";
import Year from "@/components/Input/Select/Year.vue";
import Leader from "@/components/Input/RadioCheckbox/Leader.vue";

export default {
  name: "ParticipationAdder",
  mixins: [AdderMixin, APIElementMixin],
  components: {
    Notif,
    Team,
    Year,
    Leader
  },
  props: ["caussenardId"],
  data () {
    return {
      yearId: "",
      teamId: "",
      leader: false
    };
  },
  methods: {
    link () {
      HTTP.post("api/members/link", null, {
        teamId: this.teamId,
        caussenardId: this.caussenardId,
        isLeader: this.leader
      },
      this.$store.state.account.token
      ).then(() => { this.success(); }
      ).catch((err) => this.error(err));
    },
    clearForm () {
      this.yearId = null;
      this.teamId = null;
    }
  }
};
</script>

<style>
</style>
