<template>
  <div class="box">
    <article class="level has-text-centered">
      <div class="level-left mx-1">
        <Year v-model="yearId" />
      </div>
      <div class="level-left mx-1 column is-2 is-paddingless">
        <Number v-model="number" />
      </div>
      <div class="level-left mx-1 column is-6 is-paddingless">
        <Name v-model="name" />
      </div>
      <div class="level-item">
      </div>
      <div class="level-right">
        <button class="button" @click="add()">Ajouter</button>
      </div>
    </article>
    <Notif
      :message="notifMessage"
      :details="notifDetails"
      :type="notifType"
      :active="notifDisplay"
      v-on:delete="closeNotif()"
    />
  </div>
</template>

<script>
import HTTP from "@/http-common";
import Notif from "@/components/Notif.vue";
import AdderMixin from "@/components/API/Adders/AdderMixin.js";
import APIElementMixin from "@/components/API/APIElementMixin";
import Year from "@/components/Input/Select/Year.vue";
import Number from "@/components/Input/Text/Number.vue";
import Name from "@/components/Input/Text/Name.vue";

export default {
  name: "TeamAdder",
  mixins: [AdderMixin, APIElementMixin],
  components: {
    Notif,
    Number,
    Name,
    Year
  },
  data () {
    return {
      yearId: null,
      number: "",
      name: ""
    };
  },
  methods: {
    add () {
      HTTP.post("api/teams/", null, {
        yearId: this.yearId,
        number: this.number,
        name: this.name
      },
      this.$store.state.account.token
      ).then(() => { this.success(); }
      ).catch((err) => this.error(err));
    },
    clearForm () {
      this.yearId = null;
      this.number = "";
      this.name = "";
    }
  }
};
</script>

<style>
</style>
