<template>
  <div class="box">
    <article class="level has-text-centered">
      <div class="level-left mx-1">
        <Email v-model="email" />
      </div>
      <div class="level-left mx-1">
        <Password v-model="password" />
      </div>
      <div class="level-left mx-1">
        <AuthLevel v-model="authLevel" />
      </div>
      <div class="level-item">
      </div>
      <div class="level-right">
        <button class="button" @click="add()">Ajouter</button>
      </div>
    </article>
    <Notif
      :message="notifMessage"
      :details="notifDetails"
      :type="notifType"
      :active="notifDisplay"
      v-on:delete="closeNotif()"
    />
  </div>
</template>

<script>
import HTTP from "@/http-common";
import Notif from "@/components/Notif.vue";
import AdderMixin from "@/components/API/Adders/AdderMixin.js";
import APIElementMixin from "@/components/API/APIElementMixin";
import Email from "@/components/Input/Text/Email.vue";
import Password from "@/components/Input/Text/Password.vue";
import AuthLevel from "@/components/Input/Select/AuthLevel.vue";

export default {
  name: "UserAdder",
  mixins: [AdderMixin, APIElementMixin],
  components: {
    Notif,
    Email,
    Password,
    AuthLevel
  },
  data () {
    return {
      email: "",
      password: "",
      authLevel: 1
    };
  },
  methods: {
    add () {
      HTTP.post("api/users/", null, {
        email: this.email,
        password: this.password,
        authLevel: this.authLevel
      },
      this.$store.state.account.token
      ).then(() => { this.success(); }
      ).catch((err) => this.error(err));
    },
    clearForm: function () {
      this.email = "";
      this.password = "";
      this.authLevel = 1;
    }
  }
};
</script>

<style>
</style>
