<template>
  <div class="box">
    <article class="level has-text-centered">
      <div class="level-left mx-1 column is-2 is-paddingless">
        <Year v-model="number" />
      </div>
      <div class="level-left mx-1 column is-6 is-paddingless">
        <Theme v-model="theme" />
      </div>
      <div class="level-item">
      </div>
      <div class="level-right">
        <button class="button" @click="add()">Ajouter</button>
      </div>
    </article>
    <Notif
      :message="notifMessage"
      :details="notifDetails"
      :type="notifType"
      :active="notifDisplay"
      v-on:delete="closeNotif"
    />
  </div>
</template>

<script>
import HTTP from "@/http-common";
import Notif from "@/components/Notif.vue";
import AdderMixin from "@/components/API/Adders/AdderMixin.js";
import APIElementMixin from "@/components/API/APIElementMixin";
import Year from "@/components/Input/Text/Year.vue";
import Theme from "@/components/Input/Text/Theme.vue";

export default {
  name: "CaussenardAdder",
  mixins: [AdderMixin, APIElementMixin],
  components: {
    Notif,
    Year,
    Theme
  },
  data () {
    return {
      number: "",
      theme: ""
    };
  },
  methods: {
    add () {
      HTTP.post("api/years/", null, {
        number: this.number,
        theme: this.theme
      },
      this.$store.state.account.token
      ).then(() => { this.success(); }
      ).catch((err) => this.error(err));
    },
    clearForm () {
      this.number = "";
      this.theme = "";
    }
  }
};
</script>

<style>
</style>
