<template>
  <div>
    <bar-chart 
      :chart-data="dataCollection" 
      :options="options">
    </bar-chart>
  </div>
</template>

<script>  
import APIElementMixin from "@/components/API/APIElementMixin";
import GeneralStatsMixin from "@/components/Stats/GeneralStatsMixin.js";
import BarChart from "@/components/Chart/BarChart.js";
import Color from "@/components/Chart/Color.js";
import HTTP from "@/http-common";

export default {
  name: "AgeDistribution",
  mixins: [APIElementMixin, GeneralStatsMixin],
  components: {
    BarChart,
  },
  data () {
    return {
      dataCollection: null,
      options: {
        title: {
          display: this.displayTitle,
          text: "Répartition de l'age des Caussenards",
          lineHeight: 4,
          padding: 1,
          fontSize: 18,
          fontColor: "#666",
          fontStyle: "bold",
        },
        legend: {
          display: true,
          position: "bottom",
          onClick: null,
          onHover: null,
          onLeave: null,
          reverse: false,
        },
        tooltips: {
          enabled: true,
          mode: "nearest"
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            },
            gridLines: {
              display: true,
            },
            scaleLabel: {
              display: true,
              labelString: "nombre de caussenards"
            }
          }],
          xAxes: [{
            gridLines: {
              display: false
            }, 
            scaleLabel: {
              display: true,
              labelString: "âge"
            },
            ticks: {
              min: 1
            },
          }]
        },
        responsive: true,
        maintainAspectRatio: false,
      }
    };
  },
  props: {
    endPoint: {
      type: String,
      default: "stats/"
    },
    displayTitle: {
      default: false
    }
  },
  mounted() {
    this.onRefresh();
  },
  methods: {

    onRefresh() {
      HTTP.get(this.endPoint + "caussenards/age/", {start: this.startDate, end: this.endDate}, 
        this.$store.state.account.token
      ).then((response) => {
        this.formatData(response.data.content);
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    },

    formatData(data) {
      var labels = new Array();
      var line1 = new Array();
      for (const [key, value] of Object.entries(data.breakdown)) {
        labels.push(key);
        line1.push(value);
      }
      this.dataCollection = {
        labels: labels,
        datasets: [{
          data: line1,
          label: "Répartition de l'age des Caussenards",
          backgroundColor: `rgba(${Color.blueMDC.toString()}, 0.6)`,
          borderColor: `rgb(${Color.blueMDC.toString()})`,
          borderWidth: 1,
          barPercentage: 1
        }]
      };
    }
  }
};
</script>
