<template>
  <div>
    <line-chart 
      :chart-data="dataCollection" 
      :options="options">
    </line-chart>
  </div>
</template>

<script>  
import LineChart from "@/components/Chart/LineChart.js";
import APIElementMixin from "@/components/API/APIElementMixin";
import GeneralStatsMixin from "@/components/Stats/GeneralStatsMixin.js";
import HTTP from "@/http-common";
import Color from "@/components/Chart/Color.js";

export default {
  name: "AgePerYear",
  mixins: [APIElementMixin, GeneralStatsMixin],
  components: {
    LineChart,
  },
  data () {
    return {
      dataCollection: null,
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            },
            gridLines: {
              display: true
            },
            scaleLabel: {
              display: true,
              labelString: "Âge moyen"
            }
          }],
          xAxes: [{
            gridLines: {
              display: false
            },
            scaleLabel: {
              display: true,
              labelString: "Années"
            }
          }]
        },
        legend: {
          display: false
        },
        responsive: true,
        maintainAspectRatio: false
      }
    };
  },
  props: {},
  mounted() {
    this.onRefresh();
  },
  methods: {
    onRefresh() {
      HTTP.get("stats/years/caussenards/age", {start: this.startDate, end: this.endDate}, 
        this.$store.state.account.token
      ).then((response) => {
        this.formatData(response.data.content);
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    },

    formatData(data) {
      var labels = new Array();
      var line1 = new Array();
      var line2 = new Array();
      var line3 = new Array();
      data.forEach((element, index) => {
        labels.splice(index, 0, element.year);
        line1.splice(index, 0, Math.round(element.stats.average * 10)/10);
        line2.splice(index, 0, Math.round((element.stats.average + element.stats.sd) * 10)/10);
        line3.splice(index, 0, Math.round((element.stats.average - element.stats.sd) * 10)/10);
      });
      this.dataCollection = {
        labels: labels,
        order: 1,
        datasets: [{
          data: line1,
          label: "Age moyen",
          borderColor: `rgb(${Color.blueMDC.toString()})`,       
          fill: false
        }, {
          data: line2,
          label: "+écart ype",
          borderWidth: 0,
          borderColor: `rgba(${Color.blueMDC.toString()}, 0.1)`, 
          backgroundColor: `rgba(${Color.blueMDC.toString()}, 0.1)`,          
          fill: "+1",
          pointRadius: 0,
          pointHoverRadius: 0
        },{
          data: line3,
          label: "-écart type",
          borderWidth: 0,
          borderColor: `rgba(${Color.blueMDC.toString()}, 0.1)`, 
          backgroundColor: `rgba(${Color.blueMDC.toString()}, 0.1)`,
          fill: false,
          pointRadius: 0,
          pointHoverRadius: 0
        }]
      };
    }
  }
};
</script>
