<template>
  <div>
    <pie-chart 
      :chart-data="dataCollection" 
      :options="options">
    </pie-chart>
  </div>
</template>

<script>  
import APIElementMixin from "@/components/API/APIElementMixin";
import GeneralStatsMixin from "@/components/Stats/GeneralStatsMixin.js";
import PieChart from "@/components/Chart/PieChart.js";
import HTTP from "@/http-common";
import Color from "@/components/Chart/Color.js";

export default {
  name: "GenderDistribution",
  mixins: [APIElementMixin, GeneralStatsMixin],
  components: {
    PieChart,
  },
  props: {
    endPoint: {
      type: String,
      default: "stats/",
    },
    displayTitle: {
      default: false
    }
  },
  data () {
    return {
      dataCollection: null,
      options: {
        title: {
          display: this.displayTitle,
          text: "Parité des Caussenards",
          lineHeight: 4,
          padding: 1,
          fontSize: 18,
          fontColor: "#666",
          fontStyle: "bold",
        },
        legend: {
          display: true,
          position: "bottom",
          onClick: null,
          onHover: null,
          onLeave: null,
          reverse: false,
        },
        tooltips: {
          enabled: true,
          mode: "nearest"
        },
        responsive: true,
        maintainAspectRatio: false
      }
    };
  },
  mounted() {
    this.onRefresh();
  },
  methods: {

    onRefresh() {
      HTTP.get(this.endPoint + "caussenards/gender", {start: this.startDate, end: this.endDate}, 
        this.$store.state.account.token
      ).then((response) => {
        this.formatData(response.data.content);
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    },

    formatData(data) {
      this.dataCollection = {
        labels: ["Homme", "Femme"],
        datasets: [{
          data: [data.percent.men, data.percent.women],
          backgroundColor: [`rgba(${Color.blueMDC.toString()}, 0.6)`,
            `rgba(${Color.orangeMDC.toString()}, 0.6)`],
          borderColor: [`rgb(${Color.blueMDC.toString()})`,
            `rgb(${Color.orangeMDC.toString()})`],
        }]
      };
    }
  }
};
</script>
