<template>
  <div>
    <line-chart 
      :chart-data="dataCollection" 
      :options="options">
    </line-chart>
  </div>
</template>

<script>  
import LineChart from "@/components/Chart/LineChart.js";
import APIElementMixin from "@/components/API/APIElementMixin";
import GeneralStatsMixin from "@/components/Stats/GeneralStatsMixin.js";
import Color from "@/components/Chart/Color.js";
import HTTP from "@/http-common";

export default {
  name: "GenderPerYear",
  mixins: [APIElementMixin, GeneralStatsMixin],
  components: {
    LineChart,
  },
  data () {
    return {
      dataCollection: null,
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              max: 100,
            },
            gridLines: {
              display: true
            },
            scaleLabel: {
              display: true,
              labelString: "Proportion"
            }
          }],
          xAxes: [{
            gridLines: {
              display: false
            },
            scaleLabel: {
              display: true,
              labelString: "Années"
            }
          }]
        },
        legend: {
          display: false
        },
        responsive: true,
        maintainAspectRatio: false
      }
    };
  },
  props: {},
  mounted() {
    this.onRefresh();
  },
  methods: {
    onRefresh() {
      HTTP.get("stats/years/caussenards/gender", {start: this.startDate, end: this.endDate}, 
        this.$store.state.account.token
      ).then((response) => {
        this.formatData(response.data.content);
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    },

    formatData(data) {
      var labels = new Array();
      var line1 = new Array();
      var line2 = new Array();
      data.forEach((element, index) => {
        labels.splice(index, 0, element.year);
        line1.splice(index, 0, element.stats.percent.men);
        line2.splice(index, 0, element.stats.percent.women);
      });
      this.dataCollection = {
        labels: labels,
        datasets: [{
          data: line1,
          label: "Homme",
          borderColor: `rgb(${Color.blueMDC.toString()})`,
          backgroundColor: `rgba(${Color.blueMDC.toString()}, 0.2)`,
          fill: false,
          lineTension: 0.5
        },{
          data: line2,
          label: "Femme",
          borderColor: `rgb(${Color.orangeMDC.toString()})`,
          backgroundColor: `rgba(${Color.orangeMDC.toString()}, 0.2)`,
          fill: false,
          lineTension: 0.5
        }]
      };
    }
  }
};
</script>
