<template>
  <div>
    <line-chart 
      :chart-data="dataCollection" 
      :options="options">
    </line-chart>
  </div>
</template>

<script>  
import LineChart from "@/components/Chart/LineChart.js";
import APIElementMixin from "@/components/API/APIElementMixin";
import GeneralStatsMixin from "@/components/Stats/GeneralStatsMixin.js";
import Color from "@/components/Chart/Color.js";
import HTTP from "@/http-common";
import statsUtils from "@/utils/stats.utils.js";

export default {
  name: "CaussenardsPerYear",
  mixins: [APIElementMixin, GeneralStatsMixin],
  components: {
    LineChart,
  },
  props: {
    displayLegend: {
      default: false
    }
  },
  data () {
    return {
      dataCollection: null,
      options: {
        title: {
          display: this.displayTitle,
          text: "Nombre d'équipes par année",
          lineHeight: 4,
          padding: 1,
          fontSize: 18,
          fontColor: "#666",
          fontStyle: "bold",
        },
        legend: {
          display: this.displayLegend,
          position: "bottom",
          onClick: null,
          onHover: null,
          onLeave: null,
          reverse: false,
        },
        tooltips: {
          enabled: true,
          position: "nearest"
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            },
            gridLines: {
              display: true
            },
            scaleLabel: {
              display: true,
              labelString: "équipes"
            },
          }],
          xAxes: [{
            gridLines: {
              display: false
            },
            scaleLabel: {
              display: true,
              labelString: "Années"
            }
          }]
        },
        responsive: true,
        maintainAspectRatio: false
      }
    };
  },
  mounted() {
    this.onRefresh();
  },
  methods: {
    onRefresh() {
      HTTP.get("stats/years/teams/", {start: this.startDate, end: this.endDate}, 
        this.$store.state.account.token
      ).then((response) => {
        this.formatData(response.data.content);
      }).catch((error) => {
        this.$store.dispatch("api/displayError", error);
      });
    },

    formatData(data) {
      var labels = new Array();
      var line1 = new Array();
      var line2 = new Array();
      var line3 = new Array();
      var line4 = new Array();
      var average = statsUtils.average(data);
      var sd = statsUtils.standardDeviation(data, average);
      data.forEach((element, index) => {
        labels.splice(index, 0, element.year);
        line1.splice(index, 0, element.stats);
        line2.splice(index, 0, average);
        line3.splice(index, 0, average+sd);
        line4.splice(index, 0, average-sd);
      });
      this.dataCollection = {
        labels: labels,
        datasets: [{
          data: line1,
          label: "équipes",
          borderColor: `rgb(${Color.blueMDC.toString()})`,
          backgroundColor: `rgba(${Color.blueMDC.toString()}, 0.2)`,
          fill: true,
          lineTension: 0.5
        },{
          data: line2,
          label: "moyenne",
          borderColor: `rgba(${Color.orangeMDC.toString()}, 0.5)`,
          fill: false,
          pointRadius: 0,
          pointHitRadius: 0
        },{
          data: line3,
          label: "limit sup écart type",
          borderWidth: 0,
          borderColor: `rgba(${Color.orangeMDC.toString()}, 0.1)`,
          backgroundColor: `rgba(${Color.orangeMDC.toString()}, 0.1)`,
          fill: "+1",
          pointRadius: 0,
          pointHitRadius: 0
        },{
          data: line4,
          label: "limit inf écart type",
          borderWidth: 0,
          borderColor: `rgba(${Color.orangeMDC.toString()}, 0.1)`,
          fill: false,
          pointRadius: 0,
          pointHitRadius: 0
        }]
      };
    }
  }
};
</script>
