<template>
  <div id="app">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <NavBar />
    <section>
      <router-view />
    </section>
    <footer class="footer">
      <div class="content has-text-centered" height="50%" >
        <p>
          By <strong>Pierre Odeau</strong>. CC BY <a href="https://marchedescausses.wixsite.com/lamarchedescausses">Marche des Causses</a>.
        </p>
        <a href="https://www.facebook.com/sherpacausses">
          <span class="icon is-large has-text-link mx-1">
            <i class="fab fa-facebook fa-2x"></i>
          </span>
        </a>
        <a href="https://www.facebook.com/messages/t/sherpacausses">
          <span class="icon is-large has-text-link mx-1">
            <i class="fab fa-facebook-messenger fa-2x"></i>
          </span>
        </a>
        <a href="https://www.instagram.com/marchedescausses/">
          <span class="icon is-large has-text-link mx-1">
            <i class="fab fa-instagram fa-2x"></i>
          </span>
        </a>
        <a href="https://www.youtube.com/channel/UCEUDBo3Wb2ckvIMgL7At6-Q">
          <span class="icon is-large has-text-link mx-1">
            <i class="fab fa-youtube fa-2x"></i>
          </span>
        </a>
        <a href="mailto:marchedescausses@gmail.com">
          <span class="icon is-large has-text-link mx-1">
            <i class="fas fa-envelope fa-2x"></i>
          </span>
        </a>
      </div>
    </footer>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";

export default {
  name: "App",
  data () {
    return {
      address: process.env.VUE_APP_API_ADDRESS
    };
  },
  components: {
    NavBar
  },
  created () {
    if (localStorage.email) {
      this.$store.commit("account/saveAccount", {
        email: localStorage.email,
        id: localStorage.id,
        authLevel: localStorage.authLevel
      });
    } else {
      this.$store.commit("account/deleteAccount");
    }
    if (localStorage.token) {
      this.$store.commit("account/setToken", localStorage.token);
    } else {
      this.$store.dispatch("account/getAPIKey");
    }
  }
};
</script>

<style></style>
