<template>
  <div>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        :class="theClass"
        type="password"
        :placeholder="placeholder"
        ref="input"
        :value="content"
        @input="handleInput"
        @focus="check"
        @keyup="keyup">
      <span class="icon is-small is-left">
        <i class="fas fa-key"></i>
      </span>
      <span class="icon is-small is-right">
        <i :class="icon"></i>
      </span>
    </div>
    <p class="help" :class="theClass" v-if="details">
      {{ message }}
    </p>
  </div>
</template>

<script>
import { PASSWORD_REGEX } from "@/utils/regex";
import InputMixin from "@/components/Input/InputMixin";

export default {
  name: "Password",
  mixins: [InputMixin],
  props: {
    placeholder: {
      type: String,
      default: "Mot de passe"
    },
    objectif: null
  },
  data () {
    return {
      messageOK: "Mot de passe valide",
      messageNOK: "Mot de passe invalide",
      messageDiff: "Mot de passe différent",
      isEqual: true
    };
  },
  computed: {
    message: function () {
      return (this.isEmpty) ? "" : ((this.isValid) ? ((this.isEqual) ? this.messageOK : this.messageDiff) : this.messageNOK);
    },
    theClass: function () {
      return (this.isEmpty) ? "" : ((this.isValid && this.isEqual) ? "is-success" : "is-danger");
    },
    icon: function () {
      return (this.isEmpty) ? "" : ((this.isValid && this.isEqual) ? "fas fa-check" : "fas fa-exclamation-triangle");
    }
  },
  methods: {
    check: function (e) {
      this.isValid = (PASSWORD_REGEX.test(e.target.value));
      this.isEqual = (this.objectif == null || e.target.value === this.objectif);
      this.isEmpty = (e.target.value.length === 0);
    }
  }
};

</script>
