<template>
  <div>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        :class="theClass"
        type="text"
        :placeholder="placeholder"
        ref="input"
        :value="content"
        @input="handleInput"
        @focus="check"
        @keyup="keyup">
      <span class="icon is-small is-left">
        <i class="fas fa-calendar-alt"></i>
      </span>
      <span class="icon is-small is-right">
        <i :class="icon"></i>
      </span>
    </div>
    <p class="help" :class="theClass" v-if="details">
      {{ message }}
    </p>
  </div>
</template>

<script>
import InputMixin from "@/components/Input/InputMixin";

export default {
  name: "Year",
  mixins: [InputMixin],
  props: {
    placeholder: {
      type: String,
      default: "Année"
    }
  },
  data () {
    return {
      messageOk: "Année valide",
      messageNOK: "Année invalide"
    };
  },
  methods: {
    check: function (e) {
      this.isValid = (e.target.value > 1975 && e.target.value < 2100);
      this.isEmpty = (e.target.value === "");
    }
  }
};
</script>
